body {
  padding: 70px 0 35px 0; }

.navbar, .navbar-inverse {
  background-color: #028C7E; }

.navbar {
  background-image: url("/img/logo-sigfox.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .navbar .container {
    width: 100%;
    padding-left: 180px; }

.navbar-inverse {
  border-color: #015D5B; }
  .navbar-inverse .navbar-toggle {
    border-color: #fffffe; }
  .navbar-inverse .navbar-nav > li > a {
    color: #fffffe; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav .active > a, .navbar-inverse .navbar-nav .active > a:focus, .navbar-inverse .navbar-nav .active > a:hover {
    background: #015D5B; }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: #fffffe;
    border-color: #015D5B; }
    .navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
      background: #028C7E; }

.navbar-brand {
  padding: 0 15px; }

.navbar-brand img {
  height: 100%; }

.product-intro {
  font-weight: bold;
  font-style: italic; }

#transceivers .row h3 {
  text-align: center; }

.twittericon::before {
  background-image: url("/img/twitter.png"); }

.githubicon::before {
  background-image: url("/img/github.png"); }

.twittericon::before, .githubicon::before {
  content: " ";
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px; }

.footer {
  position: fixed;
  z-index: 2;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #028C7E;
  color: #fffffe; }
  .footer p {
    padding-top: 4px;
    padding-left: 10px; }

#evalkits .row > div {
  min-height: 310px; }

.hardware-solution {
  padding: 1px 20px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  min-height: 280px;
  margin-bottom: 2em; }

.hw-img {
  width: 100%;
  text-align: center; }
  .hw-img img {
    max-height: 15em;
    max-width: 100%;
    margin: .5em; }
