body{
  padding:70px 0 35px 0;
}
/*
.navbar{
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.39, #028C7E),
    color-stop(1, #015D5B)
  );
  background-image: -o-linear-gradient(bottom, #028C7E 39%, #015D5B 100%);
  background-image: -moz-linear-gradient(bottom, #028C7E 39%, #015D5B 100%);
  background-image: -webkit-linear-gradient(bottom, #028C7E 39%, #015D5B 100%);
  background-image: -ms-linear-gradient(bottom, #028C7E 39%, #015D5B 100%);
  background-image: linear-gradient(to bottom, #028C7E 39%, #015D5B 100%);
}
*/
.navbar, .navbar-inverse{
  background: #028C7E;
}
.navbar-inverse{
  border-color: #015D5B;
}
.navbar-inverse .navbar-toggle{
  border-color: #fff;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a{
  background: #015D5B;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background: #015D5B;
}
.navbar-brand{
  padding:0 15px;
}
.navbar-brand img{
  height:100%;
}
.navbar-inverse .navbar-nav > li > a{
  color:#fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background: #fff;
  border-color: #015D5B;
}
.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar{
  background: #028C7E;
}

.jumbotron{
  text-align: center;
}

.footer {
  position: fixed;
  z-index:2;
  font-size:12px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #028C7E;
  color:#fff;
}
.footer p{
  padding-top:4px;
}