@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300);
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

.container {
  width: 100%;
  padding: 0; }

.row {
  margin: 0; }

h1 {
  color: #028C7E;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px; }

section {
  padding: 70px 0; }

.navbar {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-weight: 400;
  background: #028C7E;
  height: 48px;
  max-height: 48px; }
  .navbar .navbar-header {
    margin-left: 5%; }
  .navbar #navbar {
    margin-right: 10%; }
  .navbar .nav-logo {
    max-height: 48px; }
  .navbar li {
    line-height: 16px;
    font-size: 14px; }

.navbar-inverse {
  border: none; }
  .navbar-inverse .navbar-toggle {
    border: 1px solid #fff; }
  .navbar-inverse .icon-bar {
    background-color: #fff; }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: #fff;
    border-color: #028C7E; }
    .navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
      background: #028C7E; }

.navbar, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar li a {
  min-height: 48px;
  height: 48px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #028C7E;
  color: #fff;
  border-bottom: 2px solid #fff; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

#header {
  padding-top: 0; }
  #header .banner img {
    width: 100%; }
  #header .request {
    background-color: #028C7E;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
    margin-top: -100px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 195px;
    height: 40px;
    line-height: 40px;
    opacity: 0.99;
    margin-left: calc(50% - (195px/2)); }
    #header .request a {
      color: #fff; }
  @media (max-width: 992px) {
    #header .banner {
      display: none; } }

#about {
  font-size: 16px;
  line-height: 24px; }
  #about h1 {
    color: #028C7E; }
  #about a {
    color: #0f5451;
    text-decoration: underline;
    font-weight: 400; }
  #about .demo-img img {
    width: 460px;
    max-width: 100%;
    height: 360px; }
    @media (max-width: 992px) {
      #about .demo-img img {
        display: none; } }

.butterfly {
  background-image: url(/img/tour/butterfly.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 51px;
  width: 100%;
  margin: 50px 0; }

#program, #contact, #footer {
  background-color: #028C7E;
  color: #fff;
  padding-bottom: 70px; }
  #program h1, #contact h1, #footer h1 {
    color: #fff; }

#program .program-entry {
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  padding-top: 70%; }
  #program .program-entry.program-pres {
    background-image: url(/img/tour/presentation.png); }
  #program .program-entry.program-demo {
    background-image: url(/img/tour/demo.png); }
  #program .program-entry.program-work {
    background-image: url(/img/tour/tools.png); }
  #program .program-entry.program-party {
    background-image: url(/img/tour/beer.png); }
  #program .program-entry.program-gift {
    background-image: url(/img/tour/kit.png); }

.agenda-entry, .program-entry {
  text-align: center; }

#agenda .row {
  padding: 0 11%; }
#agenda .agenda-entry {
  max-height: 190px;
  min-height: 190px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  color: #8c8c8c;
  padding: 35px 75px;
  margin-bottom: 30px; }
  #agenda .agenda-entry.old-event {
    opacity: .5; }
  #agenda .agenda-entry a {
    color: #028C7E; }
    #agenda .agenda-entry a:after {
      content: "→"; }
  #agenda .agenda-entry .agenda-city {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin: 20px 0; }
  #agenda .agenda-entry .agenda-date {
    height: 40px; }
    #agenda .agenda-entry .agenda-date a:after {
      content: ""; }
  #agenda .agenda-entry .agenda-invite {
    font-weight: 400;
    color: #028C7E; }
  #agenda .agenda-entry.country {
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: 50% 50%; }
    #agenda .agenda-entry.country.FRA {
      background-image: url(/img/tour/france.png); }
    #agenda .agenda-entry.country.GBR {
      background-image: url(/img/tour/uk.png); }
    #agenda .agenda-entry.country.ESP {
      background-image: url(/img/tour/spain.png); }
    #agenda .agenda-entry.country.ITA {
      background-image: url(/img/tour/italy.png); }
    #agenda .agenda-entry.country.FIN {
      background-image: url(/img/tour/finland.png); }
    #agenda .agenda-entry.country.DEN {
      background-image: url(/img/tour/denmark.png); }
    #agenda .agenda-entry.country.NED {
      background-image: url(/img/tour/netherlands.png); }
    #agenda .agenda-entry.country.POR {
      background-image: url(/img/tour/portugal.png); }
    #agenda .agenda-entry.country.BEL {
      background-image: url(/img/tour/belgium.png); }
  @media (max-width: 768px) {
    #agenda .agenda-entry {
      padding: 15px 9px; }
      #agenda .agenda-entry.country {
        background-size: 85%; }
      #agenda .agenda-entry .agenda-date-tbd {
        font-size: 11px;
        line-height: 20px; } }

#contact a {
  color: #fff; }

.footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
  height: 29px;
  color: #fffffe; }
