---
layout: default
---
{% assign ambassadors = site.data.ambassadors | sort: "name" %}
<style>
      html, body, #wrapper { height: 100%; }
      #wrapper { display: table; width: 100%; } /* Create space */
      #wrapper > * { display: table-cell; vertical-align: middle; } /* table-cells can be verticaly aligned! */
      #wrapper > * > .container { display: block; margin: auto; width: 600px; border: 1px solid #000000; } /* Horizontal align */
</style>

<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active">
   <section id="ambassadors" class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
     
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h3>Sigfox Ambassadors</h3> 
      <p>
      The Sigfox Ambassadors program is here to put forward some of the best Sigfox experts. <br />
      All our ambassadors already have a huge in-depth experience of the Sigfox service. Some of them are more at ease with the embedded systems part, some with the cloud application. <br />
        Most of them are entrepreneurs, building their own Sigfox solutions. Some of them are teaching electronics and programming in engineering schools.<br />
        All of them are great at sharing their knowledge and experience about Sigfox. You can rely on them to give conferences and run workshops about Sigfox.
      </p>
      
      {% for amb in ambassadors %}
        <div class="ambassador-card mdl-card mdl-shadow--2dp mdl-color--primary">
          <div class="mdl-card__title mdl-card--expand mdl-typography--font-thin">
            {%if amb.img%}
              <img class="ambassador-image" src="{{site.url}}/assets/media/ambassadors/{{amb.img}}" alt="{{amb.name}} {{amb.firstname}}">
            {% endif %}
            <h4 class="mdl-typography--font-thin">{{amb.firstname}} {{amb.name}}</h4>
            <div class="ambassador-location">
              <span class="flag {{amb.country | downcase}}"></span>
              {%if amb.city%}
                <div class="ambassador-city">{{amb.city}}</div>
              {%endif%}
            </div>
            <div class="ambassador-lang mdl-typography--font-thin">
              <h6>Speaking</h6>
              {% for lang in amb.languages %}
                <span class="lang-{{lang | downcase}}">{{lang}}</span>
              {% endfor %}
            </div>
            <div class="ambassador-skills mdl-typography--font-thin">
                <h6>Skills</h6>
                {% for skill in amb.skills %}
                  <span class="skill-{{skill | slugify}}">{{skill | capitalize}}</span>
                {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      <h3>Want to be an ambassador ?</h3> 
        <p>
          If you want to join our ambassador program, let us know ! <br />
          The easiest way is to submit a <a  rel="noopener noreferrer"  target="_blank" href="//github.com/sigfox/makers.sigfox.com/blob/master/_data/ambassadors.yml">pull request on github</a>, with your details added.
        </p>
        <p>
          We'll contact you shortly afterwards, and will be happy to make you an ambassador if your skill set match the requirements of the program : in-depth knowledge of Sigfox, existing projects to show, and ability to speak publicly and/or run workshops on your own.
        </p>
      
      </div>
    </div>
  </div>
  {% include footer.html %}
</main>