---
layout: default
---
<div class="container theme-showcase" role="main">
  {% include index/about.html %}
  {% include index/prototyping.html %}
  <section id="evalkits">
    <h1>Evaluation Kits</h1>
    <div class="row">
      <div class="col-sm-4">
        <h3>Telecom Design</h3>
        <p>
          Telecom Design has Evaluation Boards available for their modules<br />
          You can order them through their distributor, <a href="http://www.avnet-memec.eu/products/telecom-design-bi-directional-sigfox-modules.html">Avnet-Memec</a>
        </p>
        <p>
          Telecom Design provide a full SDK, with complete examples.<br />
          The modules are controlled using AT commands, but you can also flash your own firmware & use them autonomously.<br />
          To do so, Telecom Design provides a full SDK (using Eclipse) and working examples.
          
        </p>
        <p>
          Documentation is available on the <a href="http://rfmodules.td-next.com/">TD-next</a> official website.<br />
          SDK & full datasheets and documentations are available on their <a href="http://github.com/Telecom-Design">Github account</a>
        </p>
        <p>
          <h4>TD1204</h4>
          The TD1204 combines a SIGFOX-certified radio transceiver, an ARM Cortex M3 µcontroller and a GPS & an 3-axis accelerometer, allowing you to build complete solutions with a single component.<br />
        Documentation <a href="https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1204%20EVB%20User%27s%20Guide.pdf">here</a> (PDF)
        </p>
        
        <h4>TD1208</h4>
        <p>
          The TD1208 is a SIGFOX-certified radio transceiver, combined with a ARM Cortex M3 µcontroller. <br />
          Compatible with the Telecom Design SDK.
          Documentation <a href="https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1208%20EVB%20User%27s%20Guide.pdf">here</a> (PDF)
        </p>
      </div>
      <div class="col-sm-4">
        <h3>TST</h3>
        <p> 
          TST has a development kit available for its <a href="http://www.tst-sistemas.es/en/products/tsmart/">TSmote platform</a><br />
          The TSmote is powered by a 32-bit ARM Cortex M3 µprocessor, and the <a href="http://www.tst-sistemas.es/en/products/tsmart/tskits/">SIGFOX starter kit</a> includes a Xbee-format SIGFOX module
        </p>
        <p>
          SIGFOX module <a href="http://api.tst-sistemas.es/group___t_s_m_a_r_t___s_i_g_f_o_x___t_d.html">online documentation</a>, and <a href="./resources/TST-module.pdf">datasheet</a> (PDF).
        </p>
        <p>
          The <a href="./resources/TSmoTe-EN.pdf">TSmote</a> is to be programmed in standard C, and the SIGFOX module is controlled with AT commands.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Telit</h3>
        <p>
          The LE51-868 S is a high performance certified Short Range to Long Range module designed to cover the 863-870 MHz band working with the Telit Proprietary protocol and acting as a SIGFOX gateway
        </p>
        <p>
          The evaluation board can be programmed, or controlled by AT commands
        </p>
        <p>
          Check <a href="http://www.telit.com/products/product-service-selector/product-service-selector/show/product/le51-868-s/">Telit.com</a> for details about the LE51-686 S<br />
          Documentation <a href="./resources/Telit_LE51-868S_DemoUnit.pdf"> here</a> (PDF).
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Adeunis</h3>
        <p>
          The Adeunis RF Evaluation Board Si868 provides a very simple access to the UART of the module. In addition, the evaluation board provides an RF output designed to obtain the best Si868 module performance.
        </p>
        <p>
          Check <a href="http://www.adeunis-rf.com/en/products/sigfox-rf-module/evaluation-board-sigfox">Adeunis-rf.com</a> for details about the Si868 Evaluation Board<br />
          Documentation <a href="./resources/adeunis-evb.pdf"> here</a> (PDF).
        </p>
      </div>
    
  </div>
  </section>
  <section id="transceivers">
    <h1>SIGFOX radio transceivers & modules</h1>
    <h3>SIGFOX is available from leading silicon and module vendors</h3>
    <div class="row">
      <div class="col-sm-12">
        <p>
          SIGFOX makes its IP available at no cost to silicon and module vendors. This strategy has encouraged leading silicon and module vendors to integrate SIGFOX in their existing assets, giving solution enablers a wide choice of very competitively priced components.
</p><p>
SIGFOX enables bi-directional as well as mono-directional communications and can co-exist with other communication protocols, both short and long range.
</p><p>
High energy consumption has been a major obstacle with regards to unleashing the potential of the Internet of Things, which is why one of the key elements of the SIGFOX strategy is to continue to push the boundaries for energy consumption lower and lower.
</p><p>
The increasing number of M2M and Internet of Things solutions calls for better interoperability solutions, which can only come through standardization. As the first Internet of Things operator, SIGFOX has taken a lead in this process through the foundation of dedicated standardization groups within recognized standards bodies such as ETSI and others.
        </p>
      <p>Check the <a href="http://sigfox.com/en/#!/connected-world/technology-enablers">Technology Enablers</a> section of our website to keep posted on the list of available modules & transceivers from our partners.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h3>Adeunis RF</h3>
        <a target="_blank" href="http://www.adeunis-rf.com/en/technologies/sigfox">
         <img class="img-responsive" src="./img/adeunis.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Atim</h3>
        <a target="_blank" href="http://www.atim.com/en/atim-sigfox-network-solutions">
          <img class="img-responsive" src="./img/atim.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Atmel</h3>
        <a target="_blank" href="http://www.atmel.com/products/wireless/smartrf/default.aspx?tab=tools">
          <img class="img-responsive" src="./img/atmel.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Axsem</h3>
        <a target="_blank" href="http://axsem.com/www/sigfox">
          <img class="img-responsive" src="./img/axsem.jpg" />
        </a>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-3">
        <h3>Silicon Labs</h3>
        <a target="_blank" href="http://www.silabs.com/">
          <img class="img-responsive" src="./img/silabs.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Telecom Design</h3>
        <a target="_blank" href="http://www.avnet-memec.eu/products/telecom-design-bi-directional-sigfox-modules.html">
          <img class="img-responsive" src="./img/telecomdesign.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Telit</h3>
        <a target="_blank" href="http://www.telit.com/products/product-service-selector/product-service-selector/show/product/le51-868-s/">
          <img class="img-responsive" src="./img/telit.jpg" />
        </a>
      </div>
      <div class="col-sm-3">
        <h3>Texas Instruments</h3>
        <a target="_blank" href="http://www.ti.com/product/cc1120?DCMP=sigfox&HQS=ep-con-lprf-sigfox-pf-cc1120-en">
          <img class="img-responsive" src="./img/ti.jpg" />
        </a>
      </div>
    </div>
  </section>
  <section id="api">
    <h1>API & Callbacks</h1>
    <div class="row">
      <div class="col-sm-12">
        <p>
          Once a device sends a message, there are 3 ways to fetch & use the data :
          <ul>
            <li>Web interface on http://backend.sigfox.com</li>
            <li>REST API</li>
            <li>Callback mechanism</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>REST API</h3>
        <p>
          To access the API, you need to set up your access first.<br />
          To do so, go to the <a href="https://backend.sigfox.com/group/">Group</a> section on http://backend.sigfox.com .<br />
          In the sidebar, click on API access & then click <i>New</i> in the top-right corner.<br />
          You should now see your credentials, and a link to the API documentation relevant to your access rights
        </p>
        <p>
          Using the API you can :
          <ul>
            <li>Retrieve the list of devices associated to a device type</li>
            <li>Retrieve the messages of a given device</li>
            <li>Get metrics about a device's messages</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Callbacks</h3>
        <p>
          You can subscribe to receive an HTTP callback for every message received & processed by the SIGFOX backend.<br />
          The following data will be sent to your application : 
          <div class="row">
            <div class="col-sm-9">
              <div class="panel panel-default">
                <div class="panel-heading">Data sent in the callback body</div>
                <div class="panel-body">
                  One callback is called per emitted message. <br />
                  You can optionally subscribe to receive a callback each time a station receives your message. Deduplication will then occur on your side.<br /><br />
                  You can choose to receive the callback using a GET or POST HTTP request.
                </div>
                <table class="table table-condensed table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Variable</th>
                      <th>Meaning</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>device</td>
                      <td>Device unique ID</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>time</td>
                      <td>Timestamp of the message</td>
                      <td>seconds</td>
                    </tr>
                    <tr>
                      <td>data</td>
                      <td>The data payload you sent</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>rssi</td>
                      <td>Received Signal Strength Intensity on the base station that received your message. </td>
                      <td>dBm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </p>
        <p>
          To avoid side effects, you should send an <code>HTTP 200</code> response as soon as the callback is received on your side.<br />
          If the SIGFOX backend receives an error status, it assumes that the message wasn't properly received, and send a retry shortly after. This will be seen as another message by your system.<br />
        </p>
        <p>
          An example of a quick implementation of a callback handler is available <a href="http://github.com/nicolsc/sigfox-callback-demo">here</a>.
        </p>
      </div>
    </div>
  </section>
{% include index/coverage.html %}
  <section id="contact">
    <h1>Contact</h1>
    <div class="jumbotron">
      
      <p>
        Nicolas Lesconnec<br />
        Developer & Maker Evangelist<br />
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:devrelations@sigfox.com">devrelations@sigfox.com</a><br />
        <span class="twittericon"></span>&nbsp;<a href="http://twitter.com/nlesconnec/">@nlesconnec</a><br />
          <span class="githubicon"></span>&nbsp;<a href="http://github.com/nicolsc/">@nicolsc</a><br />
        
      
      </p>
    </div>
  </section>
</div> <!-- /container -->