<section id="switch-benefits" class="section switch-benefits">
  <div class="section__content grid__item palm--one-whole">
    <div class="mdl-grid">
      {% for entry in site.data.switch-benefits %}
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet  mdl-color-text--black">
        <h4 class="mdl-typography--font-thin">{{entry.title}}</h4>
        <div>
          <div class="icon" align="center">
            <img alt="{{entry.title}}" src="/assets/media/switch/{{entry.icon}}.png" />
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
