<section id="switch-intro" class="switch-intro">
  <div class="bg-container">
    <div class="bg-container-overlay mdl-color-text--white">
    	<h1 class="mdl-typography--font-thin mdl-typography--text-center">
        Is your product already compatible with Sigfox ?
      </h1>
    </div>
  </div>
  <div class="mdl-grid">
    <h3 class="mdl-typography--font-thin mdl-typography--text-center">Without knowing it, most of the products already developed for SUB-GHz technology
are already compatible with our long range radio technology.</h3>
    <p class="mdl-typography--font-thin">
      Thanks to our « open hardware » approach,  we work with many semiconductors companies offering compatible radio chipsets, used for many radio protocols.<br />
      If you’re using this chipset for other purposes today, it could  be possible to reuse the same hardware and be Sigfox compatible !
    </p>
    <p class="mdl-typography--font-thin">
      By adding the Sigfox library and upgrading the firmware, your device might talk our language and enjoy new possibilities !
    </p>
  </div>

</section>
