<section id="startups-program" class="section startups-program">
  <div class="section__content grid__item palm--one-whole">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-typography--text-center">
        <img src="/assets/media/sigfoxverified.png" />
      </div>
      <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-typography--font-thin">
      If the qualification call is a success, here are the details of our Sigfox Porting Offer :
        <ul class="mdl-typography--font-thin">
          <li>Sigfox protocol stack
          <li>Modulation software stack</li>
          <li>Sample code for application</li>
          <li>1 Week co-working for Sigfox porting with Sigfox engineers</li>
          <li>RF modulation tuning</li>
          <li>Protocol integration</li>
          <li>Conducted tests for Sigfox Verified certificate : Certificated at the end of the week</li>
    </div>
  </div>
</section>
