<section id="startups-program" class="section startups-program mdl-color--primary-dark">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header mdl-color-text--grey-100">
      <h3 class="section__title mdl-typography--font-thin mdl-typography--text-center">Requirements</h3>
      <p class="mdl-typography--font-thin">
        In order to be also compatible with Sigfox, PCB and hardware designs must follow certain rules, which might not have been applied in the development of current products.<br />
        To know if your product could be easily compatible with Sigfox, please check the prerequisites below :
      </p>
    </header>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet  mdl-color-text--white mdl-typography--font-thin">
          Based on one of the following RF IC:
          <ul class="mdl-typography--font-thin">
            <li>Texas Instruments:: CC1120, CC1125, CC1310, CC1350</li>
            <li>Silicon Labs :  EFR32, EZR32</li>
            <li>Semtech : SX1272, SX1276</li>
          </ul>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet  mdl-color-text--white mdl-typography--font-thin">
        5-10K MCU flash left for Sigfox stack

      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet  mdl-color-text--white mdl-typography--font-thin">
          Then, a 1 hour qualification call with Sigfox experts
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin mdl-typography--text-center">
        <a href="mailto:devrelations@sigfox.com">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
            Contact us : devrelations@sigfox.com
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
