<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section" id="#contact>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Email us</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="mailto:devrelations@sigfox.com">Dev Relations &lt;devrelations@sigfox.com&gt;</a></li>
        <li><a href="mailto:devrelations@sigfox.com">Startup Relations &lt;startups@sigfox.com&gt;</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Follow us on Twitter</h1>
      <ul class="mdl-mega-footer--link-list">
        <li>Corporate account: <a href="//twitter.com/sigfox">@sigfox</a></li>
        <li>Alex Bucknall: <a href="//twitter.com/alexrbucknall">@alexrbucknall</a></li>
        <li>Anthony Charbonnier: <a href="//twitter.com/Anth0_">@Anth0_</a></li>
        <li>Nicolas Lesconnec: <a href="//twitter.com/nlesconnec">@nlesconnec</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Github</h1>
      <ul class="mdl-mega-footer--link-list">
        <li>Sigfox: <a href="//github.com/sigfox">@sigfox</a></li>
        <li>Alex Bucknall: <a href="//github.com/bucknalla">@alexrbucknall</a></li>
        <li>Anthony Charbonnier: <a href="//github.com/oimctony">@oimctony</a></li>
        <li>Nicolas Lesconnec: <a href="//github.com/nicolsc">@nicolsc</a></li>
      </ul>
    </div>
     <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Get in touch on linkedin</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="//linkedin.com/in/bucknalla">Alex Bucknall</a></li>
        <li><a href="//linkedin.com/in/anth0">Anthony Charbonnier</a></li>
        <li><a href="//linkedin.com/in/nicolaslesconnec">Nicolas Lesconnec</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      Made by <span class="sigfox">Sigfox</span> with ♡
    </div>
  </div>
</footer>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
