<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Heading 1</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Heading 2</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="/">Something</a></li>
      <li><a href="#">Seomthing Else</a></li>
      <li><a href="#">More </a></li>
    </ul>
  </div>
</footer>