<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4">
         <nav class="footer-nav">   
          <ul>
            <li><a href="//www.sigfox.com/">Coverage</a></li>
            <li><a href="//www.sigfox.com/partners" target="_blank">Partners</a></li>
            <li><a href="//www.sigfox.com/makers" target="_blank">Technology</a></li>
            <li><a href="//www.sigfox.com/news" target="_blank">News</a></li>
          </ul>
          </nav>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4">
        <nav class="footer-nav">
          <ul>
            <li><a href="//www.sigfox.com/careers">Careers</a></li>
            <li><a href="http://www.sigfoxfoundation.org/" target="_blank">Foundation</a></li>
            <li><a href="//www.sigfox.com/legal">Legal</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4">
        <ul id="social-links">
          <li><a href="//www.facebook.com/sigfox" class="fb" target="_blank">Facebook</a></li>
          <li><a href="//twitter.com/SIGFOX" class="tw" target="_blank">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <h2>Keep in touch !</h2>
        <div id="newsletter_form">
          <p>Subscribe to our corporate newsletter</p>
          <form id="newsletter" name="newsletter" class="emkH5form salesforceForm" method="post" action="//www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" novalidate="true">
            <input type="hidden" name="oid" value="00D250000004qrt">

            <input type="hidden" name="retURL" value="//ssl2.ovh.net/~sigfoxcofs/?f=newsletter#newsletter-form">
            <input type="hidden" id="lead_source" name="lead_source" value="Web">
            <input type="hidden" id="00Nb0000009i26a" name="00Nb0000009i26a" title="Formulaire web" value="Newsletter">
            <label for="email">Email*</label>
            <input type="email" name="email" id="email" placeholder="Your email address *" class="email required" required="required" maxlength="80">
            <input type="submit" name="button" id="submit-form" value="Send">
          </form>
        </div>
      </div>
    </div>
    <div class="footer-signature">Made by<img alt="sigfox" title="sigfox" src="/img/tour/butterfly@3x.png" />with ♡</div>
  </div>
</footer>