<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{site.url}}/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/img/touch-icon-57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/img/touch-icon-114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/img/touch-icon-72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/img/touch-icon-144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/img/touch-icon-60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/img/touch-icon-120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/img/touch-icon-76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/img/touch-icon-152.png" />
<meta name="msapplication-TileColor" content="#005d5b">
<title>{{page.title}}</title>

<!-- Bootstrap core CSS -->
<link href="{{site.url}}/css/bootstrap.min.css" rel="stylesheet">


<link href="{{site.url}}/css/style.css" rel="stylesheet">
<link href="{{site.url}}/css/header.css" rel="stylesheet">
<link href="{{site.url}}/css/footer.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

