<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Everything you need to use the Sigfox service : technical details, getting started guides, sample codes, ...">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{{ site.title }}</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/assets/media/favicon.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{site.title}}">
<link rel="apple-touch-icon-precomposed" href="/assets/media/favicon.png">
<link rel="shortcut icon" href="/assets/media/favicon.png">
<link rel="stylesheet" href="/assets/stylesheets/material-design-lite.css"   /> 
<link rel="stylesheet" href="/assets/stylesheets/flags32.css">
<link rel="stylesheet" href="/assets/stylesheets/styles.css">
<script defer src="/assets/js/material.min.js"></script>
<script defer src="/assets/js/moment.min.js"></script>