<div class="newsletter">
  <h2>Keep in touch !</h2>
  <div id="newsletter-form">
    <p>Subscribe to our newsletter</p>
    <form id="newsletter" name="newsletter" class="emkH5form salesforceForm" method="post" action="//www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" novalidate="true">
      <input type="hidden" name="oid" value="00Db0000000JP96">
      <input type="hidden" name="retURL" value="{{site.url}}{{page.url}}?f=newsletter&nconf=1 #newsletter-form">
      <input type="hidden" id="lead_source" name="lead_source" value="Web">
      <input type="hidden" id="00Nb0000009i26a" name="00Nb0000009i26a" title="Formulaire web" value="Newsletter">
      <label for="email">Email*</label>
      <input type="email" name="email" id="email" placeholder="Your email address *" class="email required" required="required" maxlength="80">
      <input type="submit" name="button" id="submit-form" value="Send">
    </form>
    <div class="message">
        <p>Thank you for your interest in SIGFOX.</p>
    </div>
  </div>
</div>