<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class=" mdl-layout__header-row">
    <span class="mdl-layout-title mdl-typography--font-thin">
      Sigfox Developer Portal
    </span>
  </div>
  <nav>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark ">
      {% for entry in site.data.top-nav-entries %}
        <a href="{{entry.url}}" class="mdl-typography--font-thin mdl-layout__tab">{{entry.text}}</a>
      {% endfor %}
    </div>
  </nav>
</header>