<section class="section certif-configs">
  <h3 class="mdl-typography--font-thin mdl-typography--text-center">Radio Configurations</h3>
  <div class="mdl-grid">
    <div class="config-intro mdl-typography--font-thin">
    Conducted and radiated tests depend on the radio configuration (RC) defined in each zone of operation :
    </div>
    {% for config in site.data.radio-conf-zones %}
      <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-typography--font-bold">{{config.name}} ({{config.short}})</div>
          <div class="mdl-typography--font-thin">{{config.area}}</div>
          <div class="mdl-typography--font-thin">{{config.frequency}}, {{config.power}}</div>
      </div>
    {% endfor %}
  </div>
</section>
