<section class="section certif-programs">
  {% for entry in site.data.certif-programs %}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--2-offset-tablet mdl-cell--2-col mdl-cell--1-col-phone mdl-typography--font-thin">
        <img src="/assets/media/{{entry.name|replace:" ",""|downcase}}.png" alt="{{entry.name}}" />
      </div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--3-col-phone mdl-typography--font-thin">
        <div>
          {{entry.desc}}
          {% if entry.benefits %}
            <p class="certif-benefits mdl-typography--font-thin">
              With this program you will receive:
              <ul class="mdl-typography--font-thin  ">
                {% for benefit in entry.benefits %}
                  <li>{{benefit}}</li>
                {% endfor %}
              </ul>
            </p>
          {% endif %}
        </div>

    </div>
  </div>
  {% endfor %}
</section>
