<section class="section certif-register">
  <div class="mdl-grid">
    <h3 class="mdl-typography--font-thin mdl-typography--text-center">Register</h3>
    <div class="mdl-cell mdl-cell--12-col">
      <p class="mdl-typography--font-thin mdl-typography--text-center">
        <a class="typeform-share button" href="https://sigfoxsurvey.typeform.com/to/Gq21DZ" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#4182ff;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Contact us to plan your certification</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </p>
    </div>
  </div>
</section>
