<section class="section certif-which mdl-color--primary-dark">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header mdl-color-text--grey-100">
      <h3 class="section__title mdl-typography--font-thin mdl-typography--text-center">Which Sigfox Certification ?</h3>
    </header>
    <div class="mdl-grid">
      {% for entry in site.data.certif-which %}
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
          <div class="mdl-typography--font-thin mdl-typography--text-center mdl-color-text--white certif-which-product">
            {{entry.title}}{% if entry.more %},<br />{{entry.more}}{% endif %}
          </div>
          <div class="certif-which-certif"><img src="/assets/media/{{entry.program|replace:" ",""|downcase}}.png" alt="{{entry.program}}"/></div>
        </div>

      {% endfor %}
    </div>

  </div>
</section>
