<section class="certif-why" id="certif-why">
  <div class="mdl-grid">
    <h3 class="mdl-typography--font-thin mdl-typography--text-center">Sigfox certifications</h3>
    <div class="mdl-cell mdl-cell--12-col">
      <p class="mdl-typography--font-thin mdl-typography--text-center">
        Sigfox has implemented certification programs for :
      </p>

      <div class="mdl-grid certif-why-types">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-typography--font-thin">
          <div class="icon">
            <img alt="" src="/assets/media/icons/module.png">
          </div>
          Module
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-typography--font-thin">
          <div class="icon">
            <img alt="" src="/assets/media/icons/refdesign.png">
          </div>
          Reference Design
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-typography--font-thin">
          <div class="icon">
            <img alt="" src="/assets/media/icons/endproduct.png">
          </div>
          End Product
        </div>
      </div>
    </div>
    <p class="mdl-typography--font-thin">
      It is mandatory for any device communicating on the Sigfox network, to be Sigfox certified:
      <ul class="mdl-typography--font-thin">
        <li>To Ensure that Sigfox connectivity is integrated into partner devices with adequate performance level.</li>
        <li>To Maintain a high Quality of Service on the Sigfox network through the conformity of each device to the Sigfox radio specifications (conducted and radiated).</li>
      </ul>
    </p>
    <p class="mdl-typography--font-thin">
      The Sigfox certification programs will help partners:
      <ul class="mdl-typography--font-thin">
        <li>Achieve the integration of Sigfox connectivity with the delivery of Sigfox Library which implements the Sigfox protocol and with the delivery of sample code.</li>
        <li>Assess the end-product global radiated performances and assess the Quality of Service linked to their end-product.</li>
      </ul>
    </p>
  </div>
</section>
