---
layout: news
image: /img/news/COFELY_Services_logo_5122.jpg
category: news
title: ENGIE, Cofely Services and SIGFOX join forces to drive energy efficiency in buildings
---
<h1></h1>

<div class="illustration text-center"><img src="/img/news/COFELY_Services_logo_5122.jpg"></div><p><b>ENGIE M2M </b></p><b>

</b><p>As a global energy player, ENGIE (formerly GDF Suez) is
present in more than 70 countries and is undoubtedly at the forefront of the many
important changes and energy challenges that the world is facing today. Through
its subsidiaries, ENGIE is able to provide specific solutions to improve our
access to energy, meet changing needs and limit our environmental impact on a
planetary scale.</p>

<p>ENGIE believes that the IoT will open up new fields of
development and SIGFOX is thrilled to announce that ENGIE M2M will deploy the SIGFOX
network dedicated to the Internet of Things (IoT) across Belgium.</p>

<p>With this partnership Belgium will become the seventh
European country where the SIGFOX network is being rolled-out. ENGIE M2M will work
with Belgian developers and businesses to develop and grow the IoT ecosystem
and provide connectivity to customers.</p>

<p>Gérard Mestrallet, Chairman and Chief Executive Officer of
ENGIE explained that they wanted to establish a strong position in the Internet
of Things industry. The creation of “ENGIE M2M”, which represents a 4M€
investment, also demonstrates their commitment to Belgium, which is an historical market for the Group.</p>

<p>The deployment of the SIGFOX network will bring scalable IoT
and low-cost Machine-to-Machine (M2M) communication services and open up new
frontiers for utilities and smart technologies.</p>

<p>&nbsp;</p>

<p><b>Cofely Services</b></p><p>This was also the occasion to announce the new partnership
between SIGFOX and Cofely Services - a subsidiary of ENGIE and a European leader
in energy efficiency and environment services.</p>

<p>Cofely have chosen to integrate SIGFOX’s connectivity
solution to expand the services that they provide for smart buildings and enhance
its services for building management. Within three years, over 100,000 objects
should be connected, enabling the Group to save energy and develop new services
to make buildings smarter and more efficient.</p>

<p>This is perfectly aligned with Cofely’s vision of providing solutions
to their Customers based on three pillars of sustainable development :</p>

<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Environmental - through local renewable energy
production, energy performance improvements and performance guarantees and CO2
emissions reductions. </p>

<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Economic - with reduced energy bills and more
cost-effective energy choices, and, </p>

<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Social - through its social and societal
commitments and support of local job creation and job market integration.</p>

<p>Energy efficiency of buildings is an important factor in the
struggle against global warming and Cofely opens a new era in driving energy
efficiency of buildings and smart metering by connecting its service offering
to the SIGFOX energy-efficient, cost-effective network.</p>

<p>Cofely Services has a vast experience in providing
sustainable solutions to enable its customers to reduce energy consumption, improve
economic performance, and control their environmental impact. However, until
today, existing networks or connectivity solutions did not fully answer the needs of the IoT, in
terms of energy consumption and cost.</p>

<p>With the adoption of the SIGFOX network, connectivity for
the IoT market is clearly democratized, allowing Cofely Services to serve an estimated
400, 0000 customers within the next 3 years, as CEO of Cofely services,
Jean-Pierre Monéger said : “With SIGFOX, we open the field of possibilities.
Gains in terms of installation and implementation are indeed significant,
allowing us to offer our services to new buildings, multi-sites, or buildings that
are difficult to access.</p>

<p>Another advantage of using this technology, and based on the
expertise of Cofely Services for data processing and quality control, is the
ability to conduct smart data processing that will send consumption data and
analyze it in real time to improve continually our services”.</p>