---
layout: news
image: /img/news/LogoWood jpeg.jpg
category: press
title: SIGFOX Goes on the Road to Connect With ‘Builders of IoT’s Future’
---

<div class="illustration text-center"><img src="/img/news/LogoWood jpeg.jpg"></div><div>
			<div>
				<div>
					<p>LABEGE, France&nbsp;–&nbsp;Sept. 22, 2015&nbsp;–&nbsp;SIGFOX, the global leader in cost-effective, energy- efficient Internet of Things (IoT) connectivity, will kick off a road trip in France and Europe with its SIGFOX Makers Tour, starting Oct. 8, 2015, in Lille, France. The tour, which will visit multiple European cities in 2015-16, will enable communities of developers and makers from France and Europe to use SIGFOX’s&nbsp;technology and network to create new use cases.</p><p>According to a recent Gartner study, 50 percent of IoT solutions will be developed by startups that are less than three years old.&nbsp;Piou-Piou, who developed a sensor that measures the speed, strength and direction of the wind,&nbsp;GreenPods&nbsp;with its incorporated water and temperature sensors as plant-covered urban furniture or&nbsp;Co-assist&nbsp;offering an innovative armband that sends alerts in case of falls or faintness, are some of the startups who have chosen SIGFOX for its global, simple, cost-effective and energy-efficient connectivity.</p><p>Recognizing this, SIGFOX designed the tour to support communities of developers and makers as they pursue their professional goals, and to accelerate the emergence of new connected objects, services and IoT applications on the SIGFOX global network.</p><p>In each city, the Makers Tour will include a half-day workshop featuring a presentation covering&nbsp;SIGFOX’s&nbsp;connectivity solution and opportunity for participants to use the SIGFOX technology, via a development kit. Each participant will be allowed to keep the development kit and will receive a one-year subscription to the SIGFOX network, allowing him or her to develop and test their ideas for future IoT applications.</p><p>“By&nbsp;significantly lowering the cost and the energy consumption of the connected objects, SIGFOX paves the way for multiple new applications that can quickly and easily emerge,”&nbsp;said Cédric Giorgi,&nbsp;SIGFOX’s&nbsp;head of startup relations.&nbsp;“The&nbsp;goal of the SIGFOX Makers Tour is to get to know all those who will build the future of the Internet of Things, whether they work in a fablab or in a large corporation, and encourage them to create and test their&nbsp;applications.”</p><p>Following the kick off in Lille, the SIGFOX Makers Tour will travel to Paris, then Grenoble, Lyon, Toulouse, France, and Madrid, Barcelona, London, Helsinki and Amsterdam.</p><p>SIGFOX will invite 30 participants in each tour city, and their admission to the event is free. The initial selection is to ensure a homogeneous group of technical profiles. In each city where the tour will stop, local partnerships with fablabs, hacker spaces, or startup accelerators are designed to create long-lasting collaborations.</p><div><p><b>Dates for the First SIGFOX Makers Tour :</b></p><p>
		
	
	
		</p><div>
			<div>
				<div>
					<p>
		
	
	
		</p><div>
			<div>
				<div>
					<p><b>Oct. 8</b><span><b>:</b> Lille at EuraTechnologies</span></p><p><b>Oct. 22</b><span><b>:</b> Paris at Usine IO</span></p><p><b>Oct. 27</b><span><b>:</b> Grenoble at La Casemate</span></p><p><b>Nov.4</b><span><b>:</b> Lyon at La Cordée</span></p><p><b>Nov.19</b><span><b>:</b> Toulouse at the IoT Valley</span></p><p><b>Nov. 25:</b> Madrid at the Hacker Space&nbsp;</p><p><b>Nov.26:</b> Barcelona at the Fab Lab Barcelona&nbsp;</p>
				</div>
			</div>
		</div></div></div></div><p>New dates and registrations for the event:&nbsp;<a target="_blank" rel="nofollow" href="http://makers.sigfox.com/tour" title="Link: http://makers.sigfox.com/tour">http://makers.sigfox.com/tour</a></p><p>The tour will continue in 2016 and many cities are already in discussion host it: Angers, Berlin, Dublin, Brussels...Suggestions for new cities to add to the tour of Q1 2016 are open to everybody.</p><p><br></p><p><b>About SIGFOX</b></p><b></b><p>SIGFOX is the&nbsp;world’s&nbsp;leading provider of dedicated cellular connectivity for Internet of Things and machine-to-machine communications. Its network complements existing high- bandwidth systems by providing economical, energy-efficient two-way transmission of small quantities of data over long distances, thus lowering barriers to wide implementation of IoT and M2M solutions, and greatly extending the battery and service life of connected devices. SIGFOX, currently operating or being deployed in nine countries, includes 400,000 square miles with a population of 165 million people. Five million devices already are registered in the network. Corporate headquarters are in Labège, France, and the company has offices in Paris, Madrid, Boston and San Francisco.</p><p>For more information, see&nbsp;<a target="_blank" rel="nofollow" href="http://www.SIGFOX.com">www.SIGFOX.com</a>&nbsp;and follow us on Twitter @SIGFOX.</p></div>
				</div>
			</div>
		</div>