---
layout: news
image: /img/news/logohackthon2.jpg
category: press
title: SIGFOX Announces Winners of IoT Hackathon for ‘Smarter’ San Francisco Connected to SIGFOX Global Network
---

<div class="illustration text-center"><img src="/img/news/logohackthon2.jpg"></div><p><span>SAN FRANCISCO<b> </b>– Nov. 24, 2015 – SIGFOX, a leading
provider of Internet of Things (IoT) network connectivity, today announced the four
winning projects in the Smart City IoT Hackathon in San Francisco, earning them
the chance to pitch their concepts to city officials.&nbsp;</span>Hosting the
event along with the City of San Francisco’s Office of Civic Innovation and the
Department of Technology, Texas Instruments, Microsoft Corp., Plasma, Accenture
and other technology leaders, SIGFOX brought together 150 developers and makers
to build prototypes of connected hardware that can be used in the IoT for civic
impact.</p><p>The SIGFOX
network, which is dedicated to the IoT, has been rolled out across San
Francisco, and will be deployed in nine other major U.S. cities by Q1 2016.</p>

<p>During
the Nov. 20-22 #connectyourcity hackathon, 150 developers and makers created
prototypes to make San Francisco smarter on topics such as air quality, water usage,
intelligent lighting, traffic and transportation. </p>

<p>“Becoming
smarter as a city means setting up the right infrastructure and creating an
environment that invites community participation,” said Miguel A. Gamiño Jr,
San Francisco’s chief information officer and executive director of the
Department of Technology. “We established the network and invited developers to
the hackathon as a way to engage this creative community to help us discover
the potential for using this new network. I’m impressed by the level of
creativity demonstrated over the weekend and see potential for meaningful
real-life application.”</p>

<p>“This
weekend's hackathon was an overwhelming success and validation that the City of
San Francisco is the right place for companies that want to be on the leading
edge of technology, and that SIGFOX is the right choice for highly cost- and
power-efficient connectivity for devices requiring low levels of data,” said
Allen Proithis, president SIGFOX North America.</p>

<p>To
quickly expand in the U.S. and allow businesses to scale their solutions
wherever its network is operating, SIGFOX is working with an open ecosystem of
partners, including the world’s leading technology and solution enablers whose
offerings have been certified through the SIGFOX Ready™ certification program.</p><p>Participants of
the 48-hour event competed for $200,000 in prizes and
built applications using the latest <a target="_blank" rel="nofollow" href="http://www.ti.com/tool/boostxl-cc1120-90">Texas Instruments booster pack</a>
certified on the SIGFOX network, as well as <a target="_blank" rel="nofollow" href="http://www.internetofyourthings.com/">Microsoft Azure IoT technology</a>
and the Plasma <a target="_blank" rel="nofollow" href="https://www.connect2.me/">Connect2me</a> IoT Platform.</p>

<p>“By putting on this hackathon
with SIGFOX, we wanted to encourage developers to leverage our unmatched
long-range wireless connectivity for their IoT applications,” said Thomas
Almholt,&nbsp;applications manager, wireless
connectivity solutions, Texas Instruments. “We are excited to see such
innovative designs come out of the weekend and can’t wait to see how developers
use the SIGFOX network moving forward.”</p>

<p>After
multiple successful IoT deployments in Europe using the EU’s Sub-1 GHz
spectrum, SIGFOX will allow U.S. customers to use its network with TI’s Sub-1
GHz RF transceivers to deploy wireless sensor nodes that are lower cost and
lower power than 3G/cellular connected nodes, while providing long-range
connectivity to the IoT.</p>

<p>The hackathon also marked the
first collaboration between SIGFOX and Microsoft, as the participants of
#connectyourcity used the Microsoft Cortana Analytics Suite, a cloud service
for data scientists and developers using predictive analytics in applications.
More information on SIGFOX’s collaboration on the Microsoft Azure cloud
platform will be announced in the near future.</p><p><br></p><p><b>The four winning teams that will pitch their smart city
concepts to San Francisco city officials are:</b><br></p>

<p><b><u>Best Startup Project</u></b></p><p><b>Audio Argus, </b>a predictive-maintenance
solution created by David Sykora, Merrick Clark and Joel Brinton, to
keep the city running on time and under budget. “Using acoustic waves, we can
determine if your fleet of vehicles, air-conditioning units, medical devices,
or any device with a mechanical component, is working properly or needs service,"
the team said.</p><p><span>The team receives a free one-year subscription
on the SIGFOX network and dedicated support, gift cards to redeem in the Texas
Instruments’&nbsp;<a target="_blank" rel="nofollow" href="https://store.ti.com/">store</a> and dedicated
support, and free Microsoft Azure services for one year.</span></p><p><b><u>Best Civic Innovation Project </u></b></p><p><b>WaterSaver, </b>developed by Nick Pera and
Ben Morse, optimizes smart green-area watering during California’s severe
drought. Based on live metrics (weather, humidity and temperature), forecasts and
machine learning, connected valves and sprinklers turn on when needed and allow
the city to conserve the resource.</p><p><span>The team receives a free subscription
for one year on the SIGFOX network and dedicated support, as well as gift card
to redeem on Texas Instruments’&nbsp;<a target="_blank" rel="nofollow" href="https://store.ti.com/">store</a>
and dedicated support.</span></p><p><b><u>Best Technical Project</u></b></p><p><b>DryWater</b>, developed by Nicolas Triballier, Pascal Boudier, Pierre Guillot and Julien Brette, is a connected fight-water-waste solution. It monitors public green-area moisture to water them only when necessary. Machine-learning algorithms and network coverage across wide areas allow to optimized resource usage in public parks, fields etc.<br></p><p>The team receives a free one-year subscription on the SIGFOX network and dedicated support, as well as gift card to redeem on Texas Instruments’&nbsp;<a target="_blank" rel="nofollow" href="https://store.ti.com/">store</a>&nbsp;and dedicated support, and free Plasma Connect2.me access and cloud service for a year.</p><p><u><b>Best Smart City Project</b></u></p><p>































<b>Better
Bike </b>is
a GPS tracker and distance sensor for bicycles to ensure a safer commute. Created
by Shimolee&nbsp;Nahar, Boyd&nbsp;Lever&nbsp;and Mudit
Mittal, the Better Bike team receives a free Plasma Connect2.me access and cloud service for one
year.<br></p>

<p><b><br></b></p><p><b>About
SIGFOX</b></p>

<p>SIGFOX is the world’s leading provider of dedicated cellular connectivity
for Internet of Things and machine-to-machine communications. The company’s
network complements existing high-bandwidth systems by providing economical,
energy-efficient two-way transmission of small quantities of data over long
distances, thus lowering barriers to wide implementation of IoT and M2M
solutions, and greatly extending the battery and service life of connected
devices. SIGFOX, currently
operating or being deployed in 12 countries, today covers 1 million square
kilometers with a population of 165 million people. Five million devices
already are registered in the network. Corporate headquarters are in Labège, France,
and the company has offices in Paris, Boston, Dubai, Madrid and San Francisco.</p><p>

For
more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com/">www.SIGFOX.com</a>
and follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a></p>