---
layout: news
image: /img/news/Glen Canyon.PNG
category: press
title: SIGFOX and Glen Canyon Corp. to Connect  1 Million Smart Meters to Internet of Things
---

<div class="illustration text-center"><img src="/img/news/Glen Canyon.PNG"></div><p><b>VIENNA, </b><b>Austria - Nov. 4, 2015 -   SIGFOX, the world-leader in Internet of Things (IoT) connectivity, and Glen Canyon Corp, a provider of low-cost smart meters and AMI solutions to electric utilities worldwide, today announced plans to connect 1 million meters to the SIGFOX network in the coming year.</b><b> </b></p><b>

</b><p><br></p><p>Glen Canyon already
has installed more than 20 million meters in China, Africa and the U.S., supported
by its AMI, or advanced metering infrastructure. As a critical part of
smart-utility systems, AMI provides regular, two-way communication between
smart meters and energy providers, which allows them to closely monitor usage
and allows their customers to moderate their consumption according to cost at
the time of use.</p>

<p>Both small and
inexpensive, Glen Canyon’s NEXGEN Smart Meters are certified SIGFOX Ready™ to
provide economical,
energy-efficient, two-way transmission of data over the SIGFOX global network. Thanks to SIGFOX’s
connectivity, meters perform real-time measurement of energy consumption and
time-of-use. Users can also perform demand reading, power-outage reporting,
remote disconnect (load shedding for commercial and industrial customers) and choose
a prepayment plan.</p>

<p>“The SIGFOX network is
an obvious choice for Glen Canyon’s low-cost, plug-and-play smart meters,
because it is fully in line with our commitment to provide highly functional but
affordable smart meters to utilities around the world,” said Glen Canyon CEO
John Heibel. “We designed our meters to provide valuable, real-time data at the
lowest cost possible, and the SIGFOX network enables that better than any
alternative. Plus, having tested all LPWA solutions, we&nbsp;have found that
SIGFOX clearly outperformed other solutions in regards to cost of radio modems,
deep indoor penetration and reliability.”</p>

<p>The agreement,
following SIGFOX’s network rollout in San Francisco and 10 European countries,
underscores the company’s ability to work with diverse partners, including
national network operators, governments, SME’s and startups, to bring its
dedicated IoT network to multiple users around the world.&nbsp;</p><p><br></p>

<p>“Glen Canyon
offers electricity providers an inexpensive, low-energy and multi-functional
smart meter that can rapidly expand implementation of smart grids on every
continent,” said Stuart Lodge, SIGFOX executive vice
president, global sales &amp; partners. “This is the beginning of a partnership
that we expect to help establish smart grids in many countries, as the SIGFOX
network is deployed worldwide, and it demonstrates how the network can help
innovative companies grow their business.”</p>

<p>The vast
majority of smart utilities that will be connected to the IoT will require very
simple, economical and low-energy connectivity to transmit or receive their
data. In addition to meeting those requirements, SIGFOX supports a guaranteed
service-level agreement for customers, and simple subscription-based pricing.
Those advantages, all packaged with one contract, will allow Glen Canyon to bundle
the meters and its AMI services in a turnkey solution wherever the SIGFOX
network is operating.</p>

<p>&nbsp;</p>

<p><b>About M14 Module</b></p>

<p>The NEXGEN
meters are based on Glen Canyon’s M14 Module. The
module is part of a system that provides cost-efficient, effective and
convenient solutions for two-way communications between the meter and a host
system or remote, cloud-based data structure. The module can implement a range
of features, such as AMI, automatic meter reading (AMR), power-outage reporting
and remote disconnect with the company’s supervisory control electronics or cloud.
It can also implement STS prepayment, sending credit tokens to the meter over
the SIGFOX network.</p>

<p><span>In addition,
the M14 Module<b> </b>can serve
as the sensor and control actuator for advanced services. For highest security,
flexibility and ease of implementation, data may be 128-bit AES encrypted and
carried using Internet protocol. The </span><a target="_blank" rel="nofollow" href="http://www.ansi.org/standards_activities/iec_programs/governance_committees/history.aspx?menuid=3">IEC
and ANSI</a> compliant modules will be
equipped with SIGFOX ReadyTM transceivers in addition to their current 802.11 N Wi-Fi protocol.</p>

<p><b>&nbsp;</b></p>

<p><b>About Glen Canyon
Corporation</b></p>

<p>Glen Canyon Corporation enables electric utility customers
to reduce capital and operating costs, improve revenue, and enhance customer
service through innovative, economical AMR/AMI solutions. By taking advantage of
the latest technological advances in microelectronics, standards-based Internet
conductivity, Cloud computing, and efficient manufacturing methods, Glen Canyon
Corporation has re-imagined the smart electric meter and the Advanced Metering
Infrastructure (AMI) that supports it. Based in Silicon Valley, Glen Canyon
Corporation’s Smart Meter solutions draw from the multi-decade utility industry
experience and expertise of its founding members. For more information visit <a target="_blank" rel="nofollow" href="http://www.glencan.com">http://www.glencan.com</a></p>

<p><b><br></b></p><p><b>About SIGFOX</b></p>

<p>SIGFOX
is the world’s leading provider of dedicated cellular connectivity for Internet
of Things and machine-to-machine communications. The company’s network
complements existing high-bandwidth systems by providing economical,
energy-efficient two-way transmission of small quantities of data over long
distances, thus lowering barriers to wide implementation of IoT and M2M
solutions, and greatly extending the battery and service life of connected
devices. SIGFOX, currently
deployed in nine countries, today covers 1 million square kilometers with a
population of 165 million people. Five million devices already are registered
in the network. Corporate
headquarters are in Labège, France, and the company has offices in Paris,
Boston, Dubai, Madrid and San Francisco.</p>

<p>For more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com">www.SIGFOX.com</a> and follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a>.</p>