---
layout: news
image: /img/news/Thierry-Siminger.jpg
category: press
title: Accelerating Global Expansion, SIGFOX Targets Internet Of Things Network Rollout in Middle East and Africa
---

<div class="illustration text-center"><img src="/img/news/Thierry-Siminger.jpg"></div><p><b>LABEGE,
France – Oct. 13, 2015 – Building on its continued rapid growth in Europe and
its network rollout in 10 major U.S. metropolitan areas, SIGFOX today announced its expansion in the
Middle East and Africa (MEA). The world’s leading provider of dedicated cellular connectivity for the Internet
of Things (IoT) is opening an
office in Dubai to manage its network rollout in the region.</b></p>

<p>“SIGFOX has always planned to build a dedicated
Internet of Things network that covers the world and provides ubiquitous and
seamless connectivity to billions of objects that will use the IoT,” said
Xavier Drilhon, SIGFOX Deputy Chief Executive Officer. “The Middle East and
Africa region is a logical next step in that strategy, and our business-development
work in those countries has built a strong foundation for our continued rapid
global expansion.”</p>

<p>Based in Dubai, the
company’s MEA operations are headed by mobile-telecom industry veteran Thierry Siminger, President of SIGFOX Middle East
&amp; Africa. He has more than 20 years of experience in MEA mobile,
machine-to-machine (M2M) and information technologies (IT) markets. He joins SIGFOX
from Oberthur Technologies, a world leader in digital security
solutions for the mobility space. Most recently, he was President of Oberthur’s
Russia, Middle East and Africa (RMEA) unit, and Managing Director of telecom
for Europe, Middle East and Africa (EMEA). Earlier in his career, he was
Managing Director for Gemplus (now GEMALTO) for the MEA region.</p>

<p>“There is very strong interest in implementing
the benefits of the Internet of Things for applications such as security, asset
tracking, smart cities and utility-service payments, and connecting MEA
countries to a global network,” Siminger said. “SIGFOX is the only company in
the world that can do that with low-cost, low-energy-use connectivity.”</p>

<p>Currently operating or being deployed in the
U.S. and 10 European countries and registering over 5 million devices, SIGFOX’s
network is the only IoT-dedicated connectivity solution commercially available that
guarantees a high level of service and reliability. Its easily integrated
solution enables years-to-decades of battery life for connected devices in all
business and industry sectors.</p>

<p><b>&nbsp;</b></p>

<p><b>About SIGFOX</b></p>

SIGFOX
is the world’s leading provider of dedicated cellular connectivity for Internet
of Things and machine-to-machine communications. The company’s network
complements existing high-bandwidth systems by providing economical,
energy-efficient two-way transmission of small quantities of data over long
distances, thus lowering barriers to wide implementation of IoT and M2M
solutions, and greatly extending the battery and service life of connected
devices. SIGFOX, currently deployed in nine countries, today covers
1 million square kilometres with a population of 165 million people. Five
million devices already are registered in the network. Corporate headquarters are in Labège, France, and the
company has offices in Paris, Boston, Dubai, Madrid and San Francisco.

<p>For more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com">www.SIGFOX.com</a> and follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a>.</p>