---
layout: news
image: /img/news/butterfly.png
category: press
title: SIGFOX Partners with San Francisco to Connect the City to SIGFOX Internet of Things Global Network
---

<div class="illustration text-center"><img src="/img/news/butterfly.png"></div><p>San Francisco,
CA – Oct. 27, 2015 – The City of San Francisco and SIGFOX today announced that they
will partner to deploy a dedicated Internet of Things network that will provide low-cost, energy-efficient and two-way
connectivity for smart-city programs, as well as businesses in multiple
verticals. A growing phenomenon in numerous cities
across the world, the IoT connects physical objects and allows them to
communicate, analyze, and share their data through sensors, network
connectivity and cloud software.</p>

<p>San Francisco is the first of 10 U.S. cities in which
SIGFOX will deploy its network by Q1 2016. SIGFOX, whose technology is already
FCC certified, is currently operating or being deployed in 10 European
countries and registers over 5 million objects in its network. By providing a
disruptively cost-effective, energy-efficient and simple way to connect the
physical world to the Internet, SIGFOX enables the IoT to finally take off and connect large
volumes of devices.</p>

<p>“The next wave
in technology innovation in San Francisco will likely be the Internet of
Things,” said Miguel A. Gamiño Jr., San Francisco’s chief information officer
and executive director of the Department of Technology. “This new network
reinforces San Francisco’s commitment to attracting startups and established
companies in the emerging IoT space. It also allows the City to offer residents
innovative new services and positions San Francisco as the leading smart city in
the U.S.”</p>

<p>The Internet of
Things links physical objects embedded with sensors and actuators to the Internet.
It allows the “things” to exchange data and communicate with each other,
allowing a smoke alarm to send a text when the alarm goes off or it has a low
battery; a tracker to locate a stolen bicycle; a sensor placed on a fire
hydrant to alert authorities when a leak is detected. The types of applications—ranging
from agriculture, connected health, security or logistics—that can benefit from
the IoT is limitless. </p>

<p>“If the last 10
years of technology development were about making it easier for companies and
people to exchange information with one another—Google, Skype, Dropbox, and so
on—the next 10 years will be about making it possible, cost effective and easy
for the unconnected physical world to transmit data to the Internet,” said
Allen Proithis, president of SIGFOX North America.</p>

<p>“The Internet of
Things can bring new opportunities to San Francisco—the Innovation Capital of
the World,” said San Francisco Mayor Ed Lee. “Creating a network of this kind, the
City will be able to attract new startup companies, strengthen existing
businesses and provide more jobs, economic growth and continuing prosperity for
our residents. I’m excited that the Internet of Things network will help the
City deliver more efficient services for residents and opportunities for
innovation for entrepreneurs.”</p>

<p>The pilot plan
in San Francisco will be executed through collaboration between the Department
of Technology, the Mayor’s Office of Innovation, the San Francisco Public
Library, and other critical leadership. </p>

<p>SIGFOX will
receive access to the City property to mount antennas in order to provide
network access to the City. The Department of Technology will install the
antennas as SIGFOX maintains the network. </p>

<p>Mr. Gamiño has
expressed excitement for the development of the IoT, viewing it as a right step
towards a broader vision of creating a hyper-connected city. The initiative to
make San Francisco better connected started in 2013 with the provision of free
municipal wireless service #SFWIFI. </p>

<p>In November,
SIGFOX and the City of San Francisco will jointly sponsor a hackathon, in order
to allow developers and makers to use the technology and generate new ideas for
how SIGFOX’s network can be used to create innovative smart-city solutions.</p><p><br></p>

<p><b>About
SIGFOX:</b></p>

<p>SIGFOX is the world’s leading provider of dedicated connectivity for
Internet of Things. The company’s network complements existing high-bandwidth
systems by providing simple, economical, energy-efficient two-way transmission
of small quantities of data over long distances, thus lowering barriers to wide
implementation of IoT solutions, and greatly extending the battery and service
life of connected devices. Currently deployed or being rolled-out in the U.S.
and 10 European countries and registering over 5 million devices in its
network, SIGFOX is today the only IoT-dedicated connectivity solution
commercially available that guarantees a high level of service and reliability
on an international scale. Corporate headquarters are in France, and the
company has offices in Boston, Dubai, Madrid and San Francisco. For more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com">www.SIGFOX.com</a> and follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a>.</p>