---
layout: news
image: /img/news/LogoWood jpeg.jpg
category: news
title: THE SIGFOX MAKERS TOUR HAS ALREADY STARTED!
---

<div class="illustration text-center"><img src="/img/news/LogoWood jpeg.jpg"></div><p>The first edition of the SIGFOX
Makers Tour kicked off in Lille, France on the 8th October in partnership with
Euratechnologies. This is the first stop for a programme that will last several
months visiting numerous European cities.</p>

<p>Initial feedback has already
been extremely positive and an inspiration for what is yet to come during the
rest of the tour.</p>

<p>The Tour places SIGFOX in the hands
of developers and makers, so that they experience first-hand the possibilities afforded
by the SIGFOX network and the added value that it can bring to their projects.
These developers are an important community that SIGFOX is proud to support.
Not only will they will feed the future IoT market but they might also just be
the next company to deploy another million objects on the SIGFOX network&nbsp;!</p>

<p><span>The first event invited over 30 participants<b> </b>to discover more about
SIGFOX through a series of presentations and demos, as well as some
dedicated workshops using the Arduino-Akeru development board. We were
impressed by the diversity of the profiles of participants which included,
students, start-ups, technical staff from large corporate entities, consultants
and researchers, all with the same goal to learn more about how SIGFOX is
enabling the IoT on a global scale.</span></p>

<p>We will keep you updated soon with more news from the Tour
and details of some of the amazing results and projects being cooked up during
the workshop sessions.</p><p><b>French article from ARUCO (pictures)&nbsp;about the first day :</b>&nbsp;<a target="_blank" rel="nofollow" href="https://www.aruco.com/2015/10/sigfox-makers-tour-lille/">https://www.aruco.com/2015/10/sigfox-makers-tour-lille/</a></p>

<p><b>SIGFOX MAKERS TOUR Press Release :</b>&nbsp;<a target="_blank" rel="nofollow" href="http://www.sigfox.com/en/#!/press-release/sigfox-goes-on-the-road-to-connect-with-%18builders-of-iots-future-6">http://www.sigfox.com/en/#!/press-release/sigfox-goes-on-the-road-to-connect-with-%18builders-of-iot...</a></p>

<p><span><b>Find out where we will be next
here&nbsp;:</b> <a target="_blank" rel="nofollow" href="http://makers.sigfox.com/tour/">http://makers.sigfox.com/tour/</a></span></p>