---
layout: news
image: /img/news/butterfly.png
category: press
title: SOGEDO Chooses SIGFOX’s Internet of Things Network To Bring Enhanced Water-management Services to Customers
---

<div class="illustration text-center"><img src="/img/news/butterfly.png"></div><p>Vienna,<span> Austria – Nov. 3, 2015 –<b> </b>SOGEDO, France’s fourth-largest
water-distribution company, today announced it will implement an array of
service innovations over the SIGFOX Internet of Things network. The new
offerings, developed in cooperation with SIGFOX, include automatic remote
water-meter reading and real-time analysis of usage data for customers. </span></p>

<p>Primary concerns for local
authorities include improving operations and network efficiency, as well as
promoting more sustainable use of water resources by users. SOGEDO is convinced
that efficient use of water networks requires immediate and responsive
information management stemming from full visibility of system operations for
local water providers.</p>

<p>Using SIGFOX’s dedicated IoT
network to collect reliable and real-time data from water pipes, water meters
and other equipment, SOGEDO allows local
authorities to monitor their networks in real-time, optimize infrastructure
management thanks to District Metering Areas (DMA) and respond immediately to emergency
situations such as pipeline leaks. Real-time
access to usage data also allows users to manage their water consumption and
their expenses.</p>

<p>“Our partnership with SIGFOX
enables quick implementation of smart-utility features across our entire system,
which will improve performance of water-service providers and make them more
efficient and competitive,” said Nicolas Vivian, technical director of SOGEDO.
“In addition, SIGFOX’s easily integrated
connectivity and excellent performance indoors enable any water meter set to be
installed on the water network to transmit its data.”</p>

<p>Already operated or being deployed in the U.S and 10
European countries, SIGFOX’s network does not require any additional
infrastructure deployment for its customers. As a truly open system, SIGFOX closely works with the world’s
leading radio module and smart-metering manufacturers, allowing any
utility-service provider to quickly create and offer innovative services.</p>

<p>“The vast
majority of smart-utility devices that will be connected to the IoT will
require very simple, economical and low-energy connectivity to communicate
their data,” said Stuart Lodge, SIGFOX executive vice president, global sales &amp; partners. “SOGEDO
is another strong example of a company that carefully weighed the alternatives
for efficiently and easily bringing the benefits of the Internet of Things to
their customers, and chose the most appropriate solution available.” </p>

<p><b><br></b></p><p><b>&nbsp;</b><b>About SOGEDO</b>&nbsp;</p>

<p>France’s fourth-largest water-distribution
company, SOGEDO dedicates its skills to local authorities within the drinking
water and wastewater treatment field. Its local branches allow greater
responsiveness to address requirements in a very short time, and in the best
way to meet the needs of local authorities and private individuals who have
place their trust in SOGEDO for more than 60 years. SOGEDO key
figures:&nbsp;342 employees – 30 facilities and branches established in over 17
rural zones and urban fringes - 7 departments – 83 M€ Turnover - 900 contracts
– 245&nbsp;000 subscribers.</p>

<p>&nbsp;</p>

<p><b>About SIGFOX</b></p>

<p>SIGFOX is the world’s leading
provider of dedicated connectivity for Internet of Things. The company’s
network complements existing high-bandwidth systems by providing simple,
economical, energy-efficient two-way transmission of small quantities of data
over long distances, thus lowering barriers to wide implementation of IoT
solutions, and greatly extending the battery and service life of connected
devices. Currently deployed or being rolled-out in the U.S. and 10 European
countries and registering over 5 million devices in its network, SIGFOX is
today the only IoT-dedicated connectivity solution commercially available that
guarantees a high level of service and reliability on an international scale.
Corporate headquarters are in France, and the company has offices in Boston,
Dubai, Madrid and San Francisco. </p>

<p>&nbsp;</p>

<p>For more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com">www.SIGFOX.com</a> and
follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a>.</p>