---
layout: news
image: /img/news/374db3b3-86b9-4719-98fb-e41f9ccfbf9a.png
category: news
title: Smart City IoT Hackathon - Connect your City
---

<div class="illustration text-center"><img src="/img/news/374db3b3-86b9-4719-98fb-e41f9ccfbf9a.png"></div><div>
			<div>
				<div>
					<p>San Francisco, CA – SIGFOX, a leading provider of IoT network connectivity, announced today that it is
working with the City of San Francisco’s Office of Civic Innovation and the Department of Technology,
Texas Instruments, Accenture, Microsoft and other technology leaders to host a Smart City Internet of
Things (IoT) Hackathon on November 20th. The hackathon will bring together 100 developers and makers
to build prototypes of connected hardware that can be used in the Internet of Things for civic impact.
Winning teams will have the chance to pitch their products to San Francisco City leadership, and receive
$140,000 in prize money. The hackathon will be a 48-hour event from November 20th – November 22nd at
the Palace of Fine Arts in San Francisco.
</p>
					<p>SIGFOX enables the IoT industry to finally take off and reach large volumes by creating a worldwide
communication solution that provides an easily integrated, cost-effective and energy-efficient
connectivity to billions of objects that will use the IoT. Its dedicated network connects physical objects to
the Internet and allows them to communicate and share their data through sensors and cloud software.
It recently collaborated with the City of San Francisco to provide connectivity for San Francisco’s efforts
to build a smarter city.
</p>
					<p>During the hackathon, participants will create prototypes that aim to make San Francisco smarter with
more intelligent services delivery and data sharing on topics such as air quality, water usage, intelligent
lighting, and traffic routes and transportation options.
</p>
					<p>Participating teams will have the chance to win in three categories<span>: Best Start up Project, Best Civic
Innovation Project, and Best Technical Project.&nbsp;</span></p>
				</div>
			</div>
		</div>