---
layout: news
image: /img/news/libelium-logo.jpg
category: news
title: Libelium Sensors Connect with Sigfox for Smart Cities and the IoT
---

<div class="illustration text-center"><img src="/img/news/libelium-logo.jpg"></div><p><b>SAN MATEO,
Calif., and ZARAGOZA, Spain—October 20, 2015</b>—<a target="_blank" rel="nofollow" href="http://www.libelium.com/#http://www.libelium.com/">Libelium</a> has added
Sigfox wireless connectivity to its portfolio of Waspmote OEM and Waspmote Plug
and Sense! sensor devices, to speed development of Smart Cities and Internet of
Things (IoT) projects that require low-energy, long-range wireless data
transmission on the Sigfox global network. </p>

<p>The Waspmote platform now offers a dozen
connectivity options available off the shelf, and integrates more than 100
sensors.</p>

<p>Both
lines of Waspmote sensor devices are “SIGFOX Ready™ Class 0,” the certification
ensuring maximum performance wherever the Sigfox global network is available.
Currently, the Sigfox network is deployed in ten European countries and is
slated to cover major U.S. cities, including Boston, Los Angeles, New York, and
San Francisco, by Q1 2016.</p>

<p><span>Libelium’s Sigfox module is now fully integrated in
the Waspmote sensor platform and is also available for customers as an add-on
to upgrade existing Waspmote devices. The Waspmote OEM line allows developers
to prototype a wide range of applications; Waspmote Plug &amp; Sense! devices offer
easy network configuration for applications such as Smart Cities, environmental
control, or parking.<b></b></span></p>

<p><b><br></b></p><p><b>How it works: </b></p>

<p><a target="_blank" rel="nofollow" href="http://www.libelium.com/wp-content/uploads/2015/10/Libelium_Sigfox_diagram.jpg">http://www.libelium.com/wp-content/uploads/2015/10/Libelium_Sigfox_diagram.jpg</a></p>

<p>&nbsp;</p>

<p>"Modularity, scalability,
and interoperability are key to building the IoT. Specialized narrowband
connectivity via Sigfox can give an immediate solution for many IoT and Smart
Cities use cases, where wireless sensors need to be autonomous and transmit
over long distances,” said David Gascón, Libelium CTO and co-founder.</p>

<p>“We are deploying a global network that makes it
simple to connect devices anywhere in the world—and monetize the data from
those devices,” said Stuart Lodge, Sigfox EVP of global sales and partners. “We
welcome Libelium into our open partner program; their innovative sensor devices
will accelerate the development of industrial applications and business.”</p><p><b>For more info,
please </b><b>visit:</b></p><p><a target="_blank" rel="nofollow" href="http://www.libelium.com/sigfox-connectivity-868mhz-europe-900mhz-us-long-range-smart-cities" title="Link: http://www.libelium.com/sigfox-connectivity-868mhz-europe-900mhz-us-long-range-smart-cities">http://www.libelium.com/sigfox-connectivity-868mhz-europe-900mhz-us-long-range-smart-cities</a><b><span><br>
<br>
</span></b></p><p><b>About Libelium</b></p><p><a target="_blank" rel="nofollow" href="http://www.libelium.com/about-libelium/" title="Link: http://www.libelium.com/about-libelium/">http://www.libelium.com/about-libelium/</a></p><p>&nbsp;</p><p><b>About Sigfox</b></p><p><span><a target="_blank" rel="nofollow" href="http://www.libelium.com/about-sgfx/">http://www.libelium.com/about-sgfx/</a></span></p>