---
layout: news
image: /img/news/European-Utility-Week.jpg
category: news
title: SIGFOX Will Announce Two Major Agreements and Present on Future of IoT
---

<div class="illustration text-center"><img src="/img/news/European-Utility-Week.jpg"></div><p><b>LABEGE, France – Oct. 27, 2015 – SIGFOX
will present at three sessions during European Utility Week in Vienna, Nov. 3-5.
The company will announce a partnership with a major French nationwide water
company that is using the Internet of Things to improve service and efficiency,
and an agreement with a global maker of low-cost smart electricity meters to
manufacture meters tailored to the SIGFOX network. The SIGFOX team and their
partners will be available for interviews at booth B. e17.</b></p>

<p>The vast
majority of smart utilities that will be connected to the IoT will require very
simple, economical and low-energy connectivity to transmit or receive their
data. In addition to meeting those requirements, SIGFOX supports a guaranteed
service-level agreement for customers, and simple subscription-based pricing.
Those advantages, all packaged with one contract, will allow makers of chips, systems
on chips, modules and end products, as well as platform and app developers to
seamlessly scale their solutions wherever the SIGFOX network is operating.</p>

<p><b>SIGFOX Booth: B. e17:</b> The company’s booth will demonstrate innovative utility solutions for gas,
electricity and water providers.</p>

<p><b>SIGFOX’s speaking schedule:</b></p>

<p><b><br></b></p><p><b>IoT Program</b></p>

<p><b>Nov. 3</b></p>

<p><i>Future
IoT </i></p>

<p>Keynote Panel Discussion</p>

<p>IoT4U Stage</p>

<p>14:00-15:15</p>

<p>Stuart Lodge, EVP of Global Sales &amp; Partners</p>

<p><i><u>&nbsp;</u></i></p>

<p><b>Nov. 4</b></p>

<p><i>New
Infrastructure for IoT</i></p>

<p>IoT4U Stage</p>

<p><span>16:20–16:50&nbsp; </span></p><p>Stuart Lodge,&nbsp;EVP of Global Sales &amp; Partners<br></p>

<p><b><span>How IoT networks
accelerate the digitalization of utility services&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></b><b></b></p>

<p><b>Strategic
Program</b></p>

<p><b>&nbsp;</b></p>

<p><b>Nov. 5 </b></p>

<p><i>Session
23: From Smart Water Meter to Smart Grid</i></p>

<p>09:40–10:15</p>

<p>Eric Nicolas, Product Marketing Manager</p>

<p><b>Reinventing smart water metering with a wireless operated network</b><b></b></p>

<p>&nbsp;</p>

<p><b>About SIGFOX</b></p>

<p>SIGFOX
is the world’s leading provider of dedicated cellular connectivity for Internet
of Things and machine-to-machine communications. The company’s network
complements existing high-bandwidth systems by providing economical,
energy-efficient two-way transmission of small quantities of data over long
distances, thus lowering barriers to wide implementation of IoT and M2M
solutions, and greatly extending the battery and service life of connected
devices. SIGFOX, currently
deployed in nine countries, today covers 1 million square kilometers with a
population of 165 million people. Five million devices already are registered
in the network. Corporate
headquarters are in Labège, France, and the company has offices in Paris,
Boston, Dubai, Madrid and San Francisco.</p>

<p>For more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com">www.SIGFOX.com</a> and follow us on Twitter <a target="_blank" rel="nofollow" href="http://twitter.com/sigfox">@SIGFOX</a>.</p>