---
layout: news
image: /img/news/CUdout0UAAAG5Bo.jpg-large.jpg
category: news
title: San Francisco officials announced the winners of its Smart City Hackathon
---

<div class="illustration text-center"><img src="/img/news/CUdout0UAAAG5Bo.jpg-large.jpg"></div><p>San Francisco officials announced the winners of its Smart
City Hackathon, an effort to promote the use of the city’s <a target="_blank" rel="nofollow" href="http://statescoop.com/san-francisco-unveils-citywide-iot-network/">recently launched
Internet of Things network.</a><br></p>

<p>The four winners were selected from 150 developers and
makers who built devices&nbsp;using&nbsp;TI wireless connection kits and IoT
sensors. For the competition, held last month, participants were asked to
develop devices that improve&nbsp;air quality, cut&nbsp;water use,
employ&nbsp;intelligent lighting or otherwise make the city more efficient. These
prototypes operated on&nbsp;a low-power wireless network, established&nbsp;by
Sigfox, that was specially developed to allow devices to communicate.</p>

<p>Each project winner received a one-year subscription with
support on&nbsp;the Sigfox&nbsp;network, gift cards to the Texas Instruments’
store and a one-year subscription to Microsoft Azure services.</p>

<p>“Becoming smarter as a city means setting up the right
infrastructure and creating an environment that invites community
participation,”&nbsp;said&nbsp;Miguel A. Gamiño Jr., San Francisco’s chief
information officer and executive director of the Department of Technology, in
a press release.</p>

<p>&nbsp;</p>

<p>The winners were:</p>

<ul><li>Best Start up Project: Audio Argus, created by
David Sykora, Merrick Clark and Joel Brinton, uses acoustic waves to check
whether&nbsp;mechanical components or devices are&nbsp;working properly.</li></ul><ul><li>Best Civic Innovations Project: Water Saver,
made by Nick Pera and Ben Morse, uses live metrics, forecasts and machine
learning to determine when to water plants.</li></ul><ul><li>Best Technical Project: DryWater —
created&nbsp;by Nicolas Triballier, Pascal Boudier, Pierre Guilot and Julien
Brette — monitors moisture levels in public green areas and only waters them
as&nbsp;needed.</li></ul><ul><li>Best Smart City Project:&nbsp;Better Bike — made
by Shimolee Nahar, Boyd Lever and Jason Mudit — is a GPS tracker and distance
sensor to help make community via bike safer.</li></ul>





<p><br></p><p><i>This article was written by:&nbsp;</i><a target="_blank" rel="nofollow" href="http://statescoop.com/author/zack-jordan/"><i>Zack Jordan</i></a><i>&nbsp;on&nbsp;</i><i><a target="_blank" rel="nofollow" href="http://statescoop.com/san-francisco-announces-winners-iot-hackathon/" title="Link: http://statescoop.com/san-francisco-announces-winners-iot-hackathon/">Statescoop</a></i><br></p><p><a href="http://www.sigfox.com/en/#!/press-release/sigfox-announces-winners-of-iot-hackathon-for-%18smarter-san-francisco-connected-to-sigfox-global-network-15" target="_blank" rel="nofollow" title="Link: http://www.sigfox.com/en/#!/press-release/sigfox-announces-winners-of-iot-hackathon-for-%18smarter-san-francisco-connected-to-sigfox-global-network-15">Find more information here&nbsp;</a></p>