---
layout: news
image: /img/news/ConnectedCamp.jpg
category: news
title: Capturs arrives at IoT Valley
---


<div class="illustration text-center"><img src="/img/news/ConnectedCamp.jpg"></div>
<p>“Capturs“ is the latest startup to join “Le Connected Camp“, the startup accelerator at the IoT Valley in Toulouse. Capturs’ GPS tracker, specifically designed for hiking and extreme sports, has an autonomy of 30 days thanks to SIGFOX technology. 
The objective of Ludovic and Arnaud, founders of the Capturs project, is to jump from the prototype stage right into industrialization and prepare their go-to-market strategy thanks to the experience of 60 mentors and the Connected Camp Business Network.</p><p> 
Learn about Capturs and the 8 other startups located in “Le Connected Camp“, including full details of the acceleration program on our <a href="http://www.leconnected.camp">website</a> </p><p> 
Founded by the IoT Valley entrepreneurs, “Le Connected Camp“ is an intensive 9-month acceleration program, with a fully equipped electronics lab, 9 months of workspace access, support from over 60 professional mentors and located right in the heart of a vibrant IoT ecosystem.</p><p> 
Do you have the next revolutionary idea for the IoT? Or are you already leading a project in the field of connected objects and want to take your ideas and business to the next level? </p><p> <a href="https://iot-valley.typeform.com/to/P9XGcs" target="_blank">Apply Now</a> to join “Le Connected Camp“!
</p><p>&nbsp;</p>
