---
layout: news
image: /img/news/butterfly.png
category: press
title: SIGFOX Expanding Internet of Things Network In 100 U.S. Cities to Meet Strong Market Demand
---

<p>&nbsp;</p>
<p><i>Partnerships with Strategic Site Owners Will Enable Rapid Deployment

For Logistics, Smart Cities, Agriculture and other Top IoT Sectors</i></p>
<p>&nbsp;</p>

<p><b></b>LABEGE, France, BOSTON </b>– May 4, 2016 – Responding to strong demand for

energy-and-cost efficient Internet of Things (IoT) connectivity in the U.S., SIGFOX, the 

world’s leading provider of dedicated IoT connectivity, announced today it will expand 

deployment of its network in 100 cities across the country in 2016.</p>

<p>Currently operating in 18 countries and registering over 7 million devices in its network,

SIGFOX is the world’s leading provider of a subscription-based low-power, wide-area 

(LPWA) communications offer for the Internet of Things. Its expansion in Latin America 

last month, with network deployment underway in Brazil, marked the company’s 

presence on all continents and another step in its goal of establishing one global, 

seamless network that provides ubiquitous connectivity for billions of objects.</p>

<p>IDC forecasts that by 2020 North America will have the world’s third-largest installed

base of IoT units (7.5 billion) and, correspondingly, the third-largest market for IoT-

generated revenue ($1.9 trillion). To achieve rapid network deployment in 100 U.S. cities 

before year-end and meet the market’s strong demand, SIGFOX has strategically 

partnered with multiple site owners, including tower, rooftop and billboard sites. Together 

the partnerships give the company access to more than 230,000 sites across the United 

States. 
</p>

<p>Taking advantage of the simple and fast rollout of the network, which requires far lighter

infrastructure than traditional wireless networks, SIGFOX will need a limited number of 

these sites to further extend its network’s footprint in the country.
</p>

<p>“The U.S. is a huge growth market for Internet of Things connectivity, especially in smart 

cities, utilities, shipping and agriculture sectors that require large-scale and cost-effective 

communication,” said Allen Proithis, president of SIGFOX North America. “Our 

partnerships with these site owners enables SIGFOX to leverage existing sites to rapidly 

deploy our out-of-the-box connectivity solution in the U.S. market. SIGFOX’s low-cost 

Internet of Things connectivity complements cellular networks, and allows billions of 

additional devices to participate in the benefits of IoT.”</p> 



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b>About SIGFOX</b>

<p>SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things.

The company’s network complements existing high-bandwidth systems by providing 

simple, economical, energy-efficient two-way transmission of small quantities of data over 

long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly 

extending the battery and service life of connected devices. Currently deployed or being 

rolled out in 18 countries and registering over 7 million devices in its network, SIGFOX is 

today the only commercially available IoT-dedicated connectivity solution that guarantees 

a high level of service and reliability on an international scale. Corporate headquarters are 

in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco 

and Singapore.

For more information, see www.SIGFOX.com and follow us on Twitter @SIGFOX.</p>
<p>&nbsp;</p>


<p>
  <b>SIGFOX Press contacts :</b><br />
Laurence Collet, SIGFOX PR Manager, 
<br />
laurence.collet@sigfox.com, 
<br />
+33 7 86 27 36 43</p><br />

<p>Amélie Ravier, Agency<br /> 
  aravier@mahoneylyle.com<br /> 
  +33 6 64 52 81 10
</p>
<p></p></p>

<p>&nbsp;</p>


