---
layout: news
image: /img/news/Capturebelare.PNG
category: press
title: Belgian Polar Secretariat, SIGFOX and SENSOLUS Project To Enhance Safety and Security of Crew and Equipment during Antarctic Expedition
---

<div class="illustration text-center"><img src="/img/news/Capturebelare.PNG"></div><p>BRUSSELS and PARIS – Jan. 19, 2016 – The Belgian Polar
Secretariat, SIGFOX and SENSOLUS today announced a partnership to connect the
2015-16 BELARE expedition, based in the Princess Elisabeth Antarctica Research
Station, to the global SIGFOX network. The goal is to strengthen safety and
security during research operations at the Belgian polar-exploration station. </p>

<p>The 2015-16 BELARE expedition includes a team of
technicians and researchers specialized in glaciology, climatology and
geomorphology in charge of various Belgian and international scientific
projects. These projects are key to the understanding climate change and
sustainability of the planet. <br>
</p>

<p>During this mission, expedition members will be
equipped for the first time with 45 GPS trackers connected to the SIGFOX
network, allowing real-time tracking of their movements and some of their
equipment, in often-extreme weather conditions.<br></p>

<p>Each partner will bring its expertise to this unique
collaboration. The Belgian Polar Secretariat operates the station and oversees
the crew and equipment. The Belgian startup SENSOLUS provides the 45 GPS
trackers operating with long-lasting batteries and SIGFOX will ensure the
connection of these trackers to its low-power network with only two antennas
installed at the station. SIGFOX’s ultra-narrow band (UNB) technology enables a
signal range of more than 40 kilometers in open space. </p>

<p>The unique monitoring system aims at securing the
operations of the Belgian teams in the field. Working in harsh conditions in a
barren environment, the teams sometimes are far away from the Princess
Elisabeth station. Tests are being conducted now during Antarctica’s summer.</p>

<p>Antarctica is the earth’s coldest, windiest and
harshest continent. In the wintertime, temperatures reach a minimum range of
-80°C to -90°C. Highs during summer are 5-15°C, near the coasts. The
continent’s katabatic, or descending winds that carry air downward, can reach
250 km/h, with an atmospheric pressure of 830 hPa. Variable rainfall adds to
snowdrifts, and on top of that, it is light round the clock for 100 days of the
austral summer. </p>

<p>First results on the contribution of the Internet of
Things and SIGFOX’s connectivity solution to the mission will be released in
March 2016.</p>

<p>“This partnership will allow us to test technology
that could be useful for the safety of our operations in Antarctica,” said
Rachid Touzani, director of the Belgian Polar Secretariat. “However, the security
of women and men we send to Antarctica to implement key scientific projects for
the preservation of mankind is a top priority for the Belgian Polar
Secretariat. In addition, this collaboration perfectly answers our ongoing
commitment to include the industrial world in our development projects. This
commitment is also part of the strategy of the State Secretary for Science
Policy, Ms. Elke Sleurs. So we wait, eagerly, for the test results in March.”</p>

<p>“We fully support the BELARE expedition and are
convinced that the Internet of Things is a great opportunity to ensure the
safety of high-risk operations by Belgian teams in Antarctica," said
Ludovic Le Moan and Christophe Fourtet, co-founders of SIGFOX.</p>

<p>“We wish to commit ourselves to support the causes
that are all or part of the solution with SIGFOX’s connectivity solution and
sensors connected to the Internet. In that perspective, we are today launching <a target="_blank" rel="nofollow" href="http://www.sigfoxfoundation.org/">SIGFOX Foundation</a>, that will operate nonprofit missions".</p>

<p>“Having
our extremely battery-efficient StickNTrack GPS trackers at the Princess
Elisabeth station is very exciting,” said SENSOLUS CEO Kristoff van Rattinghe. </p>

<p>“We strongly believe that sustaining missions like the
BELARE 2015-16 is the kind of real innovation we can achieve with the Internet
of Things. And this is only possible through strong collaborations like the one
set up for this mission. Via this collaboration, great opportunities are
created to take big steps forward in the team’s knowledge of climatic changes
and mission management." </p>

<p><b>About The Belgian Polar
Secretariat</b></p><p><b></b></p>

<p>The Belgian Polar Secretariat is the public structure of the Belgian
State, which manages the Princess Elisabeth Station, in Antarctica. It is under
the authority of the Secretary of State for Science Policy, Ms. Elke Sleurs and
is managed by two management bodies, a Director and a Strategic Council. The
latter is composed of representatives of various Government Ministers Belgian.
The Polar Secretariat administratively and financially manages the station and
ensures the logistics base maintenance, including waste management, supply and
repair of equipment. It also supports coordination, fulfillment and promotion
of scientific activities of the station and the dissemination of scientific
knowledge in research in Antarctica and climate change. The Princess Elisabeth
Station hosts since 2009 scientists from around the world, responsible for the
work of study and scientific research on the environment and climate change. It
is a real innovation on the white continent. Located 200 kms from the coast to
the South Pole, the Princess Elisabeth Station is the first polar station,
operating entirely on wind and solar energy. It can accommodate up to 40
scientists during the austral summer, the shipping time that lasts from
November to February.</p>

<p><b>About SENSOLUS</b></p><p><b></b></p>

<p>SENSOLUS is a Belgium-based SME that designs, builds and sells turnkey
solutions for low-power, long-range networks. SENSOLUS also develops own
services like the StickNTrack product that is currently in use in the BELARE
2015-16 mission. StickNTrack is an extremely energy-efficient, 100% DIY
installation and long-lasting GPS tracker that is integrated in the SIGFOX
network.</p>

<p>For more information, see <a target="_blank" rel="nofollow" href="http://www.sensolus.com/">www.sensolus.com</a> and <a target="_blank" rel="nofollow" href="http://www.stickntrack.com/">www.stickntrack.com</a> and
follow us on Twitter @SENSOLUS.</p>

<p><b>About
SIGFOX</b><b></b></p>

<p>SIGFOX
is the world’s leading provider of dedicated connectivity for Internet of
Things. The company’s network complements existing high-bandwidth systems by
providing simple, economical, energy-efficient two-way transmission of small
quantities of data over long distances, thus lowering barriers to wide
implementation of IoT solutions, and greatly extending the battery and service
life of connected devices. Currently deployed or being rolled-out in the U.S.
and 11 European countries and registering over 7 million devices in its
network, SIGFOX is today the only IoT-dedicated connectivity solution
commercially available that guarantees a high level of service and reliability
on an international scale. Corporate headquarters are in France, and the
company has offices in Boston, Dubai, Madrid, San Francisco and Singapore.</p>

<p>For
more information, see <a target="_blank" rel="nofollow" href="http://www.sigfox.com/">www.SIGFOX.com</a> and follow us on
Twitter @SIGFOX.</p>

<p><b>SIGFOX Contacts</b></p><p><b></b></p>

<p><b>Press</b><b></b></p>

<p>Amélie Ravier, Mahoney Lyle</p>

<p><a target="_blank" rel="nofollow">aravier@mahoneylyle.com</a> +33 (6) 64 52 81 10</p>

<p>&nbsp;</p>

<p>Laurence Collet, SIGFOX PR Manager</p>

<p><a target="_blank" rel="nofollow">laurence.collet@sigfox.com</a>
+33 (7) 86 27 36 43</p>

<p><b><br></b></p><p><b>SIGFOX
Foundation</b></p><p><b></b></p>

<p>Marion Moreau, Head of SIGFOX Foundation</p>

<p><a target="_blank" rel="nofollow">foundation@sigfox.org</a> + 33 (6) 60 95 43 79</p><p><br></p>

<p><b>SENSOLUS
Contacts</b><b></b></p>

<p>Kristoff van Rattinghe, CEO</p>

<p><a target="_blank" rel="nofollow">kristoff@sensolus.com</a>
+32 478 48 00 12</p>

<p><b><br></b></p><p><b>Contact Secrétariat Polaire Belge</b></p>

<p><a target="_blank" rel="nofollow">Ir Touzani Rachid</a>, Directeur</p>

<p>+32 (0)2 238 34 42</p>