---
layout: news
image: /img/news/sfr-altice.png
category: press
title: Altice, SFR and SIGFOX Announce Strategic Partnership For Internet of Things Services
---

<div class="illustration text-center"><img src="/img/news/sfr-altice.png"></div>
<p>
  <b>Altice N.V. (Euronext: ATC, ATCB), an international telecom and media group, its subsidiary SFR, the second-largest French global telecommunications operator, and SIGFOX, the world’s leading provider of global communications service for the Internet of Things (IoT), today announced they will integrate SIGFOX connectivity in the group’s service offering in France and internationally. Altice customers and divisions in France and internationally will benefit from SIGFOX Connectivity, which complements the group’s telecom offer.</b>
  </p><p>&nbsp;</p>
<p>
This strategic partnership launches a collaboration of three players that share the same ambitions: to offer complementary connectivity solutions starting today that democratize the IoT in all sectors of the economy and expand the offer of connected solutions for businesses and consumers.
</p>
  <p>With its focus on investing in growth, Altice is building an international group based on the convergence of mobile and fixed high-speed networks with media, content and platform services in Western Europe (comprising France, Belgium, Luxembourg, Portugal and Switzerland), the United States, Israel, and the Overseas Territories (currently comprising the French Caribbean, the Indian Ocean regions and the Dominican Republic).</p>
<p>
SIGFOX, whose network is deployed in 14 countries and already registers more than 7 million devices, offers an energy-efficient, two-way global communication solution for the millions of sensors waiting to be connected.
</p>
<p>
  <i>“We are convinced that the IoT market is an opportunity to seize now, with a global vision,”</i> said Michel Combes, COO of Altice, Chairman and CEO of SFR. <i>“We are talking about billions of connections. We share the same entrepreneurial vision with SIGFOX and the will to conquer new markets. The availability of the SIGFOX network allows us to bring new Internet of Things solutions to our B2B clients.”</i>
</p>
<p>
<i>“SIGFOX has always been convinced that the IoT requires a new type of connectivity solution, and that our offer would not compete with services offered by cellular operators,”</i> said Ludovic Le Moan, CEO of SIGFOX. <i>“We are excited and proud to join Altice and its founder Patrick Drahi, to share this vision, and especially to realize the ambition to make the IoT a major activity for the development of both companies.”</i>
  </p>
<p>
In France, where the network already covers 92% of the population, this partnership will allow the customers of SFR, the first operator to launch the fourth generation (4G) of mobile telecom technology in France and an expert in M2M solutions, to benefit from the best of the two offers: high bandwidth and low bandwidth. SFR clients will use SIGFOX connectivity as a complement to existing connectivity solutions, such as 4G or WiFi.
  </p><p>
In 2016, SIGFOX plans to cover more than 30 countries with its network. The partnership with Altice will extend in all territories where the group is present, including Portugal with Portugal Telecom, the U.S. and Israel.
</p>
<p>
The Internet of Things addresses all business sectors and has opened a new space that will help launch many startups. This collaboration will extend this innovation ecosystem and will help develop the supply of connected solutions in multiple sectors, such as industry, agriculture, healthcare, transportation and security.
</p>
<p>
  In France, SIGFOX supports a startup community within the IoT Valley and its accelerator, the <a target="_blank" href="//connected.camp">Connected Camp</a>, which has around 30 startups today. This community is getting stronger everyday through meetings with developers organized by SIGFOX, and the <a target="_blank" href="//makers.sigfox.com/tour">Makers Tours</a> in France and internationally.
</p>
<p>
Today, there are more than 100 connected devices compatible with the SIGFOX network and Altice will help grow this portfolio with the help of its industrial clients and the startups supported by SIGFOX.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b><i>About SIGFOX - <a target="_blank" href="//www.sigfox.com">www.sigfox.com</a></i></b><br />
SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things. The company’s network complements existing high-bandwidth systems by providing simple, economical, energy-efficient two-way transmission of small quantities of data over long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly extending the battery and service life of connected devices. Currently deployed or being rolled out in 14 countries and registering over 7 million devices in its network, SIGFOX is today the only commercially available IoT-dedicated connectivity solution that guarantees a high level of service and reliability on an international scale. Corporate headquarters are in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco and Singapore.<br />
  Follow us on Twitter <a target="_blank" href="//twitter.com/sigfox">@SIGFOX</a>
</p>
<p>
  <b><i>About Altice - <a target="_blank" href="//www.altice.net">www.altice.net</a></i></b><br />
Founded by telecom entrepreneur, Patrick Drahi, Altice is a multinational cable, fiber, telecommunications, contents and media company with presence in four regions -‐ Western Europe (comprising France, Belgium, Luxembourg, Portugal and Switzerland), the United States, Israel, and the Overseas Territories (currently comprising the French Caribbean, the Indian Ocean regions and the Dominican Republic). Altice provides very high speed based services (high quality pay television, fast broadband Internet and fixed line telephony) and, in certain countries, mobile telephony services to residential and corporate customers.<br />
Altice is also active in the media space with a portfolio of channels (News, Sports, Lifestyle...) as well as a provider of Premium contents on nonlinear platforms; it also produces its own original contents (Series, Movies...).<br />
Altice (ATC & ATCB) is listed on NYSE Euronext Amsterdam.
</p>
<p>
  <b><i>About SFR - <a target="_blank" href="//www.sfr.com">www.sfr.com</a></i></b><br />
A global operator, SFR holds prime positions in all of France's telecommunications market segments, from consumer to B-to-B, local authorities and wholesale. Being the sole owner of its infrastructures, the Group pairs two powerful networks and, thanks to its investments, SFR aims to rapidly extend its fiber and 4G coverage to every corner of the country whilst offering optimal service quality.<br />
Building on from the existing top-tier fiber optics network and a leading mobile network, SFR aims to create the nation's new leader in the combined broadband and mobile markets.<br />
SFR offers a comprehensive range of Internet-access, fixed-line, mobile and audiovisual services.<br />
SFR is also an expert for solutions in the fields of unified communications, Internet of Things and cloud computing for businesses.<br /
On the Consumer segment, the Group operates under the SFR and RED by SFR brands.<br />
On the B-to-B segment, it operates under the SFR Business brand, serving over 190,000 companies.<br />
The Group serves 21.9 million mobile customers and 6.4 million households subscribing to broadband services. Listed on Euronext Paris (Euronext NUM) and owned by Altice group (78%), the Group posted turnover of €11 billion in 2015 and gathers a total of 14,500 men and women.<br />
  Follow the Group's latest news on Twitter <a target="_blank" href="//twitter.com/SFR_Groupe">@SFR_Groupe</a>
  
</p>
<p>
  <b>Press contacts SIGFOX:</b><br />
Laurence Collet, SIGFOX PR Manager, laurence.collet@sigfox.com, +33 7 86 27 36 43<br />
  Amélie Ravier, Agency, aravier@mahoneylyle.com, +33 6 64 52 81 10
</p>
<p>
  <b>Press contact Altice:</b><br />
Arthur Dreyfuss, arthur.dreyfuss@altice.net, +41 79 946 49 31
  </p>
<p>
  <b>Press contact SFR:</b><br />
Nicolas CHATIN, nicolas.chatin@sfr.com, +33 1 85 06 05 50

</p>
<p>&nbsp;</p>