---
layout: news
image: /img/news/atari.png
category: news
title: SIGFOX and Atari® Announce Partnership to Develop Atari-branded Connected Devices Using SIGFOX’s Global IoT Network
---
<p>&nbsp;</p>
<p><i>New Product Line of Connected Devices to Target Mass Market and Charity Organizations</i></p>
<p>&nbsp;</p>

<p><b></b>NEW YORK and LABEGE, France, – May 31, 2016 –</b>Atari®, one of the world's most recognized publishers and producers of interactive entertainment, and SIGFOX, the world’s leading provider of dedicated communications service for the Internet of Things (IoT), today announced a global partnership to develop a line of new connected devices based on Atari’s iconic brand.</p>
<img src="/img/news/atari.gif" alt="The answer" title="The answer" style="float:left;margin:0 1.5em 1.5em 0;"/> 
<p>
  The cooperation will bring together Atari’s brand and creative power with SIGFOX’s unique value proposition: connecting the physical world to the Internet through a simple, reliable, low-cost, energy-efficient solution. Currently operating in 18 countries and registering over 7 million devices in its network, SIGFOX is on its way to establishing one global, seamless network that provides ubiquitous connectivity for billions of objects.</p>

<p>The collaboration will cover a wide range of new Atari products, from the very simple to the highly sophisticated, providing customers with an easy way to know at any time where the devices are and what their status is. The initial product line will include categories such as home, pets, lifestyle and safety. By connecting to SIGFOX’s global network, the products will benefit from its competitive advantages: a very long battery life and a simple solution that does not require local Internet connectivity and pairing. As soon as the battery is inserted in the object, it is immediately connected to the network.</p>

<p>
“Atari, which has disruption rooted in their DNA, was quick to envision the transformative role that the Internet of Things can play in interactive entertainment,” said SIGFOX CEO Ludovic Le Moan. “Our network bridges the virtual and physical worlds simply, reliably and inexpensively and this collaboration will launch a new dimension to gaming, while supporting features that are limited only by the imagination.”</p>

<p>“SIGFOX is transforming the way people are connecting to their objects in a simple and intuitive way. By partnering together and using SIGFOX’s dedicated IoT connectivity, we are going to create amazing products with our brand,” said Fred Chesnais, Chief Executive Officer, Atari. “We look forward to our collaboration with SIGFOX and releasing new products to the mass market on a global scale.”</p> 

<p>Development of the new product line will begin this year and more details will be shared soon.</p> 
<p>To learn more about SIGFOX, visit www.SIGFOX.com. For more details, “Like” us on Facebook (https://www.facebook.com/sigfox) and follow us on Twitter @SIGFOX (https://twitter.com/SIGFOX).
</p> 
<p>To learn more about Atari, visit www.Atari.com. For more details, “Like” us on Facebook (https://www.facebook.com/Atari) and follow us on Twitter @Atari (https://twitter.com/atari).
</p>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b>About SIGFOX</b>

<p>SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things.

The company’s network complements existing high-bandwidth systems by providing 

simple, economical, energy-efficient two-way transmission of small quantities of data over 

long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly 

extending the battery and service life of connected devices. Currently deployed or being 

rolled out in 18 countries and registering over 7 million devices in its network, SIGFOX is 

today the only commercially available IoT-dedicated connectivity solution that guarantees 

a high level of service and reliability on an international scale. Corporate headquarters are 

in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco 

and Singapore.

For more information, see www.SIGFOX.com and follow us on Twitter @SIGFOX.</p>
<p>&nbsp;</p>

<p>
  <b>About Atari</b>

<p>Atari (www.atari.com) is an interactive entertainment production company. As an iconic brand that transcends generations and audiences, the company is globally recognized for its multi- platform, interactive entertainment and licensed products. Atari owns and/or manages a portfolio of more than 200 games and franchises, including world-renowned brands like Asteroids®, Centipede®, Missile Command®, Pong®, Test Drive®, and RollerCoaster Tycoon®.</p>

<p>Atari has offices in New York and Paris.</p>
<p>© 2016 Atari Interactive, Inc. All rights reserved. Atari word mark and logo are trademarks owned by Atari Interactive, Inc. All other trademarks are properties of their respective owners.</p>
<p>&nbsp;</p>


<p>
  <b>Press contacts :</b><br />
Laurence Collet, SIGFOX PR Manager, 
<br />
laurence.collet@sigfox.com, 
<br />
+33 7 86 27 36 43</p><br />

<p>Amélie Ravier, Agency<br /> 
  aravier@mahoneylyle.com<br /> 
  +33 6 64 52 81 10
</p>
<p>
  <b>Atari</b><br />
Tony Chien, Senior Marketing Director, Tony.Chien@atari.com, +1 212-726-4280
<br />
</p>


<p>&nbsp;</p>


