---
layout: news
image: /img/news/ces.jpg
category: news
title: SIGFOX at the CES
---

<div class="illustration text-center"><img src="/img/news/ces.jpg"></div><div><br></div><div><div>This year’s CES has been an amazing event for SIGFOX in many ways.&nbsp;</div><span><div><br></div><div>First of all, the SIGFOX ecosystem was well represented : more than 15 companies demonstrated during the show a lot of concrete use cases using SIGFOX to make it happen right now. From new products of our silicon manufacturers partners such as TI and Atmel to end products that will be deployed globally, there was amazing demonstrations in each corners of the CES. One of the most impressive demonstration was presented on La Poste’s booth with a tiny button using SIGFOX to send a message when you need the postman to pickup a delivery directly from your mailbox.&nbsp;</div><div><br></div><div>We were also delighted to be invited by ENGIE on their booth promoting their partner’s innovations. A lot of people came by this booth and we had amazing conversations on business that is already enabled, specially in the US, based on our current roll out. Thanks to the SIGFOX Ready products we demonstrated, they perfectly understood the impact and potential of our solution.&nbsp;</div><div><br></div><div>A special thanks to the amazing team of @EngieInnovation&nbsp;that covered very well this year’s CES on their twitter account and produced really interesting videos.&nbsp;</div><div><br></div><div>CES, see you next year !&nbsp;</div></span></div>