---
layout: news
image: /img/news/roswell.jpg
category: press
title: Roswell Wolff, Seasoned International Technology Executive,to Lead SIGFOX’s Internet of Things Expansion in Asia Pacific
---
<div class="illustration text-center"><img src="/img/news/roswell.jpg"></div>
<p>
  <i>As President of SIGFOX APAC, Wolff Will Oversee Deployment of the SIGFOX Global Network across the Whole Asia Pacific Region within the Next Three Years</i>
  </p><p>&nbsp;</p>
<p>
LABEGE, France – March 30, 2016 – SIGFOX, the world’s leading provider of global communications service for the Internet of Things (IoT), today announced that Roswell Wolff has joined the company as president of SIGFOX-APAC. Based in the company’s regional headquarters in Singapore, Wolff will lead the company’s Asia-Pacific expansion and the deployment of the SIGFOX global network across the whole Asia Pacific region within the next three years.
</p>
  <p>“From its launch, SIGFOX has planned to build a dedicated Internet of Things network that covers the world with seamless, low-cost and energy-efficient connectivity,” said Xavier Drilhon, SIGFOX deputy chief executive officer. “Asia Pacific is a major milestone on that path, and Roswell Wolff brings the experience, commitment and understanding of that market to rapidly bring the SIGFOX network benefits to operators, suppliers and users in the region.”</p>
<p>
Wolff is a seasoned international executive with more than 25 years of experience in the

digital, communications and M2M, software and systems-integration markets. He has

driven growth and profitability, as well as led strategy creation and implementation and 

development of several businesses in those spaces in Europe and Asia Pacific.
</p>
<p>Most recently, he was president of Asia Pacific operations for Oberthur Technologies,

focusing on the telecom, finance and digital-identity solutions segments. Prior to that, he 

was senior vice president of global accounts with Atos, while residing in Japan, Singapore 

and Malaysia. He previously worked in European business development for more than 12 

years with Convergys and Verizon.</p>
<p>“IDC has identified Asia Pacific as the ‘frontline’ for the Internet of Things, and SIGFOX’s

dedicated IoT network, with rapid rollout and international connectivity, will accelerate use 

of the IoT in that region,” Wolff said. “Billions of security, asset tracking, smart-city and 

utility-service devices will require regional connections and links to a global network, and

SIGFOX is the only company delivering this critical connectivity and IoT-solutions 

capability on a worldwide basis.”</p>
<p>As part of his role in leading SIGFOX’s development in all activities in the Asia Pacific

region, Wolff will focus on growing the company’s IoT ecosystem, which benefits all 

members of the value chain, from solutions developers to end-users. He also will manage

all sales channels.</p>
<p>Wolff holds a bachelor of arts degree in international business and Russian studies from 

the University of Pennsylvania.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b><i>About SIGFOX - <a target="_blank" href="//www.sigfox.com">www.sigfox.com</a></i></b><br />
SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things. The company’s network complements existing high-bandwidth systems by providing simple, economical, energy-efficient two-way transmission of small quantities of data over long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly extending the battery and service life of connected devices. Currently deployed or being rolled out in 14 countries and registering over 7 million devices in its network, SIGFOX is today the only commercially available IoT-dedicated connectivity solution that guarantees a high level of service and reliability on an international scale. Corporate headquarters are in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco and Singapore.<br />
  Follow us on Twitter <a target="_blank" href="//twitter.com/sigfox">@SIGFOX</a>
</p>

<p>
  <b>Press contacts SIGFOX:</b><br />
Laurence Collet, SIGFOX PR Manager, laurence.collet@sigfox.com, +33 7 86 27 36 43<br />
  Amélie Ravier, Agency, aravier@mahoneylyle.com, +33 6 64 52 81 10
</p>

<p>&nbsp;</p>
