---
layout: news
image: /img/news/partner network.png
category: news
title: SIGFOX Partners Network
---
<div class="illustration text-center"><img src="/img/news/partner network.png"></div>
<p>Last week, we unveiled a new online resource for the IoT market aimed at creating interactions and building new synergies through the SIGFOX Partner Network and available at <a href="//partners.sigfox.com" target="_partners">http://partners.sigfox.com</a>.</p><p>
We have invited all SIGFOX partners to create a profile on this platform and explain what their company is doing and what products or services they are offering the market.</p><p> 
Using this platform, users can contact the SIGFOX ecosystem partners directly, including chip manufacturers, module makers, device makers, solution providers and  design houses.</p><p> 
The SIGFOX Partner Network brings together the key partners that are needed to start your IoT project. Whether it is for companies that require an existing solution, or for those who are building their own hardware, the SIGFOX Partner Network is simply the best place to start in the wonderful, connected world of the IoT!
</p>
<p>&nbsp;</p>