---
layout: news
image: /img/news/HidnSeek product.jpg
category: news
title: "Product of the Months: HidnSeek!"
---

<div class="illustration text-center"><img src="/img/news/HidnSeek product.jpg"></div>
<p>The HidnSeek standalone GPS Tracker ST-1A is an autonomous and rechargeable tracker backed by smart services (such as geofencing,temperature & atmospheric pressure sensing, alerts messaging). It enables real-time, widespread, cost-effective geolocation with great GPS accuracy and motion detection of a range of host devices.</p><p> 
HidnSeek is unequalled, bringing you all this functionality bundled together in a tiny little device, giving you the perfect combination of size, weight, operational hours, flexibility.</p><p> 
The HidnSeek tracker enables a growing number of applications. Companion apps already available on Android, iOS and Web provide access to numerous services, including: Asset Management, Vehicle Tracking, Theft Prevention, Sports Monitoring, Personal Protection, Child security, Drone (UAV) Tracking & Retrieval, Baggage Tracking, Building Intrusion Alerts.</p><p> 
What makes HidnSeek really unique is its open API, customizable hardware with spare digital UART, I2C, PWM or GPIO and an analog input along with its open source Arduino firmware updatable via micro-usb cable. HidnSeek is much more than a tracker it is also the perfect platform for developers to engage with SIGFOX.</p><p>&nbsp;</p>
