---
layout: news
image: /img/news/microsoft.jpg
category: news
title: "Internet des Objets : SIGFOX et Microsoft annoncent leur collaboration pour faciliter la connexion des objets connectés à Microsoft Azure IoT Hub"
---


<p><b>Issy les Moulineaux, Labège, 4 avril 2016 – SIGFOX et Microsoft France annoncent l’intégration du

Cloud SIGFOX à la plateforme Azure IoT Hub de Microsoft. Cette intégration offre aux entreprises 

une solution préconfigurée pour connecter, visualiser et analyser en temps réel des millions de 

données issues des objets connectés, simplifiant ainsi le déploiement à grande échelle de leurs 

solutions IoT.</b></p>

<p>A travers ce partenariat, SIGFOX et Microsoft souhaitent accélérer le déploiement de solutions connectées,

permettant à chaque organisation de collecter et d’analyser, de manière simple et compétitive, des millions 

de données générées par les objets connectés. Les entreprises disposent ainsi d’une solution clé en main 

qui optimise la gestion d’objets communicants, facilite la remontée des données en provenance d’objets 

connectés au réseau SIGFOX vers la plateforme Azure IoT Hub de Microsoft, et leur donne accès à des offres 

à plus forte valeur ajoutée telle que Microsoft Azure IoT Suite. Cette dernière permet aux entreprises 

d’installer rapidement puis de déployer leur solution IoT grâce à un ensemble de scénarios courants. Les 

entreprises n’ont dès lors plus besoin de construire ou de gérer leur base de données et peuvent ainsi se 

concentrer sur la logique applicative de leur solution.</p>

<p>« L'intégration du cloud SIGFOX avec Azure IoT Hub est une étape importante dans l'évolution de l'Internet

des objets, offrant aux utilisateurs une solution clé en main pour la collecte, le stockage et la gestion des

données, tout en assurant l’intégration avec leurs systèmes existants, » souligne Stuart Lodge, vice-
président exécutif Global Sales and Partners de SIGFOX. « Nous sommes ravis d'accueillir Microsoft dans 

notre écosystème mondial car il permettra à nos clients respectifs de gagner en efficacité et en compétitivité. »</p>

<p><b>Microsoft Azure IoT Hub : la plateforme de l’IoT par excellence</b></p>

<p>Grâce à Microsoft Azure IoT Hub, service qui établit des communications fiables et sécurisées entre des

millions d’appareils IoT et un serveur principal de solution, les données des entreprises sont directement 

stockées de façon pérenne sur Azure IoT Suite et restituées en temps réel en informations utiles à la décision 

au sein de tableaux de bords statistiques disponibles depuis la plateforme. 

“L’explosion de l’Internet des Objets offre à tous les acteurs de ce secteur des opportunités sans précédent à 

condition de pouvoir relever les défis liés à la collecte et à l’exploitation des données ainsi générées » 

commente Nicolas Gaume, Directeur de la division Developer eXperience de Microsoft France. « Grâce 

à cette collaboration, nous allons pouvoir offrir à l’ensemble de notre écosystème la possibilité de combiner la 

simplicité et la rapidité du service de connectivité de SIGFOX à la puissance de notre plateforme Azure pour 

collecter, analyser et interpréter de manière optimale les données issues de ces objets. Chaque organisation 

pourra ainsi tirer le meilleur parti de l’Internet des Objets ».</p>

<p><b>SIGFOX : la connectivité démultipliée</b></p> 

<p>SIGFOX, dont le réseau s’étend sur 14 pays et enregistre déjà plus de 7 millions d’objets, offre une solution

de communication mondiale économique et très peu consommatrice d’énergie aux millions de capteurs en 

attente de connectivité. Le programme de certification SIGFOX ReadyTM garantit la compatibilité des objets 

avec le réseau SIGFOX et une connectivité simplifiée pour tous les utilisateurs sur l’ensemble des pays 

couverts par le service SIGFOX.</p>
<p>L’intégration du Cloud SIGFOX à la plateforme Azure IoT Hub Microsoft permet donc aux entreprises de

toute taille – start-up, PME ou grand groupe – de choisir parmi les solutions certifiées par SIGFOX, ou de 

développer la leur, puis d’utiliser la puissance de stockage et d’analyse d’Azure IoT Hub pour recueillir et 

exploiter les très grandes quantités de données produites par leurs objets connectés.</p>
<p><b>Un service clé en main pour les clients en France et à l’international</b></p>

 <p>Des projets ambitieux s’appuyant sur le réseau SIGFOX et le cloud de Microsoft ont déjà été mis en œuvre :</p>
<ul><li>
 A l’aéroport d’Orly, <b>Econocom et Servair</b> ont déployé une solution logistique permettant de mieux

sécuriser les pistes de l’aéroport. Un réseau de boutons connectés permet la notification des

demandes d’enlèvement sur les smartphones des agents Servair, optimisant ainsi les coûts 

opérationnels liés à la collecte de colis et la réduction des mouvements de véhicules sur l’aéroport 

d’Orly.
</ul>

<ul> <li><b>La Métropole du Grand Lyon</b> a développé avec la société Exakis une plateforme dans Azure

intégrant des capteurs fixés aux transports urbains permettant de contrôler la qualité de l’air en 

temps réel. Lyon Air est actuellement en phase pilote.</ul>

<ul> <li><b>GRT Gaz</b> a mis en place, avec la société Eridanis, une solution de borne connectée lui permettant

de contrôler l’état de son réseau de distribution de gaz. Les bornes de GRT gaz disposées tout au 

long des 32 000 km de réseau, signalent l’implantation des gazoducs. Cette signalisation est 

nécessaire pour prévenir l’endommagement du réseau par des tiers.</ul>

<ul><li> Lors du hackathon “Connect your City”, organisé par SIGFOX en partenariat avec la <b>Ville de San

Francisco</b> en novembre 2015, 150 développeurs ont imaginé des solutions innovantes pour la ville 

intelligente en s’appuyant sur le réseau SIGFOX et la plateforme Azure IoT Hub.</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b><i>About SIGFOX - <a target="_blank" href="//www.sigfox.com">www.sigfox.com</a></i></b><br />
SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things. The company’s network complements existing high-bandwidth systems by providing simple, economical, energy-efficient two-way transmission of small quantities of data over long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly extending the battery and service life of connected devices. Currently deployed or being rolled out in 14 countries and registering over 7 million devices in its network, SIGFOX is today the only commercially available IoT-dedicated connectivity solution that guarantees a high level of service and reliability on an international scale. Corporate headquarters are in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco and Singapore.<br />
  Follow us on Twitter <a target="_blank" href="//twitter.com/sigfox">@SIGFOX</a>
</p>

<p>
  <b>Press contacts SIGFOX:</b><br />
Laurence Collet, SIGFOX PR Manager, laurence.collet@sigfox.com, +33 7 86 27 36 43<br />
  Amélie Ravier, Agency, aravier@mahoneylyle.com, +33 6 64 52 81 10
</p>

<p>&nbsp;</p>
