---
layout: news
image: /img/news/Cardboard.png
category: news
title: Experience the SIGFOX Showroom in your pocket!
---
<div class="illustration text-center"><img src="/img/news/Cardboard.png"></div>
<p>There are thousands of IoT use-cases around the world and thanks to SIGFOX many have already become a reality. Many of these can be showcased easily, in our showrooms or during events like the CES or the MWC, for example - but the real value is to experience them in their functional context and environment.</p><p>
Using Virtual Reality we are now able to share some of these examples from the SIGFOX ecosystem with you, wherever you are! We have built an app you can find on the <a href="https://itunes.apple.com/fr/app/sigfox-vr-showroom/id1082226572?mt=8">App Store</a> and in <a href="https://play.google.com/store/apps/details?id=com.girosense.sigfoxvrshowroom">Google Play</a> that includes over 10 different use-cases showcasing SIGFOX Ready products in their environment. Using a <a href="https://www.google.com/get/cardboard/">Cardboard</a> or similar compatible VR headset, you can interact with these use-cases to understand what they are for and what they do.</p><p>
SIGFOX is already deployed in over 14 countries and going global, which enables use-cases and solutions to be deployed anywhere in the world. Our Virtual Reality app will continue to evolve with many more features and more use-cases still to be added.</p><p> So download today and stay connected for more!
And for even more products and solutions in regular, every-day reality, be sure to check the <a href="https://partners.sigfox.com">SIGFOX Partner Network</a>.
</p>
<p>&nbsp;</p>