---
layout: news
image: /img/news/microsoft.jpg
category: press
title: SIGFOX Collaborates with Microsoft to Connect Internet of Things Devices to Microsoft Azure IoT Hub
---
<div class="illustration text-center"><img src="/img/news/microsoft.jpg"></div>
<p>
  <i>Allows Customers to Connect, Monitor and Control Millions of IoT Assets, simplifying Development and Rollout of Large-Scale IoT Solutions</i>
  </p><p>&nbsp;</p>
<p>
LABEGE, France – March 31, 2016 – SIGFOX, the world’s leading provider of global

communications service for the Internet of Things (IoT), today announced it will integrate the 

SIGFOX Cloud with Microsoft Azure IoT Hub, enabling customers to use data for real-time 

analytics, make better decisions across diverse business functions, and intelligently automate 

operations.</p>

<p>Currently operating in 14 countries, including the U.S., and registering over 7 million devices

in its network, SIGFOX is the world’s only provider of a subscription-based low-power, wide-
area (LPWA) communications offer for the Internet of Things. The company’s unique solution 

is based on a dedicated global network delivering ubiquitous connectivity to billions of objects 

that will use the IoT.</p>

<p>SIGFOX’s cloud-to-cloud integration, which will be available to both SIGFOX and Microsoft 

customers, is based on Azure IoT Hub, which provides an easy and secure way to connect 

and control millions of devices. The collaboration allows users to utilize both SIGFOX’s low-
power, wide-area network and the power of advanced analytics and storage on Microsoft 

Azure to collect, analyze and visualize large quantities of operational data produced by their 

connected devices and applications.</p>

<p>“Integration with Microsoft Azure IoT Hub in SIGFOX’s Cloud is a key step in the evolution of 

the IoT, providing customers with a great alternative to investing large amounts of resources 

to develop and manage data storage and management themselves,” said Stuart Lodge, 

SIGFOX executive vice president global sales and partners. “We are thrilled to have Microsoft 

as part of our global ecosystem as it will empower our customers’ asset management tool 

efficiency and lower their costs”.</p>

<p>“The rapid proliferation of connected devices can raise challenges in bringing together 

disparate data sources, handling the scale of the aggregate stream, and ensuring a variety of 

platforms and protocols work together harmoniously,” said Steve Guggenheimer, Microsoft 

corporate vice president of developer platform & evangelism and chief evangelist. “Our

collaboration with SIGFOX enables Microsoft Azure IoT customers to more easily integrate 

devices connected to the SIGFOX network in their existing solutions.”</p>

<p>SIGFOX and Microsoft are also working together on both startup opportunities and large-scale 

<p>joint projects with customers around the world, including:</p>

<ul><li>
 The “Connect your City” hackathon in San Francisco, when 150 participants developed

prototypes of connected hardware utilizing the network and the platform. The four 

winning teams developed smart solutions for the City of San Francisco, which is covered 

by the SIGFOX network.
</ul>

<ul> <li>System integrator Econocom enables the French company Servair to improve logistics

efficiency and better secure Paris Orly Airport runways. The innovative logistics solution 

uses a network of connected buttons for sending parcel-removal notifications to Servair 

employees.</ul>

<ul> <li>At Grand Lyon Métropole in France, a solution developed by Exakis measures real-time

air quality in the city via sensors attached to buses and trams. The Lyon Air platform, to 

be launched soon, is fully monitored in Azure.</ul>

<ul><li> A program developed by the IoT consulting firm Eridanis allows GRT Gaz, one of Europe’s

biggest natural gas transportation companies, to continuously monitor the condition of 

its distribution network through connected terminals. The terminals immediately transmit 

signals, if sensors detect any changes in their position.</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b><i>About SIGFOX - <a target="_blank" href="//www.sigfox.com">www.sigfox.com</a></i></b><br />
SIGFOX is the world’s leading provider of dedicated connectivity for the Internet of Things. The company’s network complements existing high-bandwidth systems by providing simple, economical, energy-efficient two-way transmission of small quantities of data over long distances, thus lowering barriers to wide implementation of IoT solutions, and greatly extending the battery and service life of connected devices. Currently deployed or being rolled out in 14 countries and registering over 7 million devices in its network, SIGFOX is today the only commercially available IoT-dedicated connectivity solution that guarantees a high level of service and reliability on an international scale. Corporate headquarters are in France, and the company has offices in Boston, Dubai, Madrid, Munich, San Francisco and Singapore.<br />
  Follow us on Twitter <a target="_blank" href="//twitter.com/sigfox">@SIGFOX</a>
</p>

<p>
  <b>Press contacts SIGFOX:</b><br />
Laurence Collet, SIGFOX PR Manager, laurence.collet@sigfox.com, +33 7 86 27 36 43<br />
  Amélie Ravier, Agency, aravier@mahoneylyle.com, +33 6 64 52 81 10
</p>

<p>&nbsp;</p>
