---
layout: news
image: /img/news/on.jpeg
category: news
title: ON Semiconductor Expands Low Power Wireless Solutions Portfolio with SIGFOX and ARM for Rapid IoT Deployment
---

<p>&nbsp;</p>
<p><i>SIGFOX Ready certification for AX-SF low power radio SoC and ARM mbed support for the 

NCS36510 802.15.4 platform</i></p>
<p>&nbsp;</p>

<p><b></b>IoT World – SANTA CLARA, Ca. </b>May 11, 2016 –
ON Semiconductor (Nasdaq: ON), driving energy

efficient innovations, has announced two major strategic developments to enable rapid deployment of 

Internet of Things (IoT) solutions.</p>

<p>Working in conjunction with SIGFOX, the world’s leading provider of dedicated connectivity for the

Internet of Things (IoT), ON Semiconductor has confirmed that its AX-SFEU system-on-chip (SoC) is now 

fully SIGFOX Ready™ certified for optimal two-way communication in Europe with certification underway 

for the US. Through the AX-SF SoC, plus its accompanying library and development system, IoT 

developers will be able to easily use SIGFOX’s long range, two-way global IoT network - resulting in a low 

cost, low-power device-to-cloud connectivity solution that is highly optimized for environmental sensors, 

smart meters, patient monitors, security devices, streetlights and a broad spectrum of other industrial and 

consumer-oriented applications.</p>

<p>The AX-SF SoC draws under 10 milliamperes (mA) of current when receiving data and has a sensitivity of

-129 decibel-milliwatt (dBm) at 600 bits/second (bps) with GFSK modulation. The reference design, which 

does not require an expensive front-end module, features a 23 dBm transmitter and has only a 220 mA 

current consumption, enabling designers to markedly extend communication range while maximizing 

battery life.</p>

<p>ON Semiconductor also announced that it is now an official ARM® mbed™ partner. The NCS36510 2.4 

gigahertz (GHz) IEEE 802.15.4 compliant transceiver platform will include the mbed OS and Thread 

stack.  Access to the ARM mbed ecosystem in combination with Thread will again prove highly beneficial 

for IoT developers, helping them to produce more agile, robust, cost-effective solutions with end-to-end 

security and lower power budgets that better address their application demands.</p>

<p>“ON Semiconductor was very early to recognize and respond to demands for transceivers that provide 

extremely low-power, wireless connectivity for the IoT,” states Stuart Lodge, Executive Vice President of 

Global Sales and Partners at SIGFOX. “Our fast-growing operated network, currently in 18 countries 

including the US and registering over 7 million devices, requires a reliable supply of high performance, 

low-cost and extremely energy-efficient integrated circuits, and our collaboration with ON Semiconductor 

helps assure those solutions will be available to our customers.”</p>
<p>“We are committed to delivering a comprehensive portfolio of innovative low power wireless solutions to 

enable the rapid deployment of IoT devices and solutions. Our AX-SF ultra-low power sub GHz solution gives developers robust and reliable two-way connectivity to the SIGFOX global network,” said Ryan 

Cameron, Vice President and General Manager of the industrial and timing division at ON 

Semiconductor.  “Meanwhile for the LAN environment, our industry leading 802.15.4 platform based on 

the NCS36510 now provides users access to the ARM mbed ecosystem coupled with the benefits of 

Thread for security and interoperability. SIGFOX, in combination with Thread, also has great potential for 

use cases where multiple connectivity solutions can be mixed to create new user experiences.</p> 
<p>To learn more about ON Semiconductor’s expertise in IoT technology you can attend a series of 

presentations that company representatives will be giving at IoT World (10th - 12th May, Santa Clara 

Convention Center, Santa Clara, CA).</p>
<p>‘Understanding and Meeting the Unique Challenges for RF Transceivers for IoT’

Presented by Ryan Cameron - Thursday 12th May, 2:20PM</p> 
<p>‘Advanced Wireless & Battery-Free Sensor Technology Enables More Effective Use of Sense Data in IoT 

Implementations’

Presented by Gary Straker - Wednesday 11th May, 4:30PM</p> 
<p>‘Vision for IoT: How Image Sensors Are Set To Influence the Next Generation of Connected Devices’

Presented by Radhika Arora - Thursday 12th May, 2:00PM.</p>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <b>About ON Semiconductor</b>

<p>ON Semiconductor (Nasdaq: ON) is driving energy efficient innovations, empowering customers to

reduce global energy use. The company is a leading supplier of semiconductor-based solutions, offering 

a comprehensive portfolio of energy efficient power management, analog, sensors, logic, timing, 

connectivity, discrete, SoC and custom devices. The company’s products help engineers solve their 

unique design challenges in automotive, communications, computing, consumer, industrial, medical, 

aerospace and defense applications. ON Semiconductor operates a responsive, reliable, world-class 

supply chain and quality program, a robust compliance and ethics program, and a network of 

manufacturing facilities, sales offices and design centers in key markets throughout North America, 

Europe and the Asia Pacific regions. For more information, visit http://www.onsemi.com. Follow @onsemi on Twitter: https://twitter.com/onsemi</p>
<p>&nbsp;</p>



<p>
  <b>Press contacts :</b><br />
Beth Johnston Parag Agarwal

Media Relations Vice President Investor Relations 

ON Semiconductor 
<br />
Beth.Johnston@onsemi.com 
<br />
(602) 234 6738</p><br />

<p>Parag Agarwal, Vice President Investor Relations<br /> 
  Parag.Agarwal@onsemi.com<br /> 
  +33 6 64 52 81 10
</p>

<p>&nbsp;</p>


