<section id="about">
  <div class="jumbotron">
    <div class="container">
      <h1>Join the community & change the world !</h1>
      <p>
        As the first network dedicated to the IoT, SIGFOX leads to millions of applications that can change the world, from agriculture to smart metering & alert
      </p>
      <p>
        To get people on board, the SIGFOX team is organizing boot camps all around Europe. The SIGFOX team will introduce the technology, demonstrate how it works, and organize workshops to get you work hands-on.
      </p>
      <p>
        The bootcamps will also enable you to start your project with SIGFOX: ready-to-use kits will be offered to attendees.
      </p>
      <p>
        Those bootcamps are specifically made for makers, IoT startups, developers, and tech lovers. Come join us !
      </p>
    </div>
  </div>
</section>