<section id="header">
  <div class="banner">
    <img src="{{site.url}}/img/header-makers-tour.png" />
  </div>
   <div class="request">
     <a href="{{site.url}}/tour/register">Request an invitation</a>
  </div>
</section>