<nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav">
  <div class="container">
    <div class="navbar-header">
    
      <a class="pull-left nav-logo" rel="home" href="http://www.sigfox.com" title="SIGFOX" target="_blank">
        <img class="nav-logo" src="/img/logo-sigfox.png">
    </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#about">About</a></li>
        <li><a href="#program">Program</a></li>
        <li><a href="#agenda">Agenda</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>