<nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav">
    <div class="navbar-header">
      <div class="navbar-toggle collapsed sigfox-logo">
        <a target="_www" href="//www.sigfox.com" aria-expanded="false" aria-controls="navbar">
          <img src="{{site.url}}/img/sigfox-logo-black.svg" />
        </a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="sigfox-logo">
        <a target="_www" href="//www.sigfox.com">
          <img src="{{site.url}}/img/sigfox-logo-black.svg" />
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#contact">Contact</a></li>
        <li><a href="{{site.url}}/startups">Startups</a></li>
        <li><a href="#agenda">Agenda</a></li>
        <li><a href="#program">Program</a></li>
        <li class="active"><a href="#about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>