<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Program of a boot camp</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="program-entry program-pres">
          Presentation
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="program-entry program-demo">
          Demonstration
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="program-entry program-work">
          Workshop
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="program-entry program-party">
          Drinks
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="program-entry program-gift">
          Come home with a kit !
        </div>
      </div>
    </div>
  
  </div>
  
</section>