---
---
@import "variables";
.mdl-layout__content section:not(:last-of-type){
  margin-bottom: 0;
}
h3{
  margin-top: 0;
  margin-bottom:0;
  padding-top:24px;
  padding-bottom:24px;
}
.mdl-cell{
  img{
    max-width: 100%;
  }
}
.certif-intro{
  vertical-align: middle;
  .bg-container{
    background-image: url("/assets/media/certifs/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;


    .bg-container-overlay{
      padding: 12% 0;
      height: 100%;
      width: 100%;
      margin: 0;

      h1{
        font-size: 3em;
        margin: 0;
        text-shadow: 1px 1px #000;
        text-transform: uppercase;
      }
    }
  }
}
section.certif-why, section.certif-which, section.certif-ready, section.certif-verified, section.certif-configs{
  padding-top: 1em;
  header{
    padding-left:5%;
  }
  h3,h4{
    text-align: center;
    width: 100%;
  }
}
section.certif-why{
  .certif-why-types{
    max-width: 60%;
    .mdl-cell{
      display         : flex;
      justify-content : flex-start;
      align-items     : center;
      .icon{
        float:left;
        margin-right: 10px;
        img{
          width: 40px;
        }
      }
    }
  }
}
section.certif-which{
  .mdl-cell{

    > div{
      display         : flex;
      justify-content : center;
      align-items     : center;
      &.certif-which-product{
        height: 5em;
      }
      &.certif-which-certif{
        img{
          max-width: 50%;
        }
      }
    }
  }
}

section.switch-program{
  header{
    p{
      text-align: center;
    }
  }
  .mdl-cell{
    padding-left: 5%;

    > div {
      display: table;
    }
    .icon{
      display: table-cell;
      vertical-align: middle;
      img{
        width: 40px;
      }
    }
    p{
      text-align: justify;
      width: 90%;
      display: table-cell;

    }
  }

}
section.switch-builders, section.switch-partners{
  .mdl-cell{
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .builder-name{
    position:relative;
    bottom: 1.5em;
    width: 100%;
    height:2em;

    display: table;

    > div{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
section.switch-partners{
  .mdl-cell img{
    max-height: 100px;
  }
}
section.switch-enroll{
  background-color: #fff;
}
