---
---
@import "variables";
.mdl-layout__content section:not(:last-of-type){
  margin-bottom: 0;
}
.startups-intro{
  text-align: center;
  vertical-align: middle;
  .bg-container{
    background-image: url("/assets/media/startups/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;


    .bg-container-overlay{
      padding: 12% 0;
      height: 100%;
      width: 60%;
      margin: 0 20%;

      h1{
        font-size: 2em;
        margin: 1.75em 0 2.5em 0;
      }
    }
    button{
      margin-bottom: -1em;
      background: #fff;
      z-index: 2;
    }
  }
}
section.startups-program, section.startups-builders, .section.startups-partners, section.startups-enroll{
  padding-top: 1em;
  header{
    padding-left:5%;
  }
  h3,h4{
    text-align: center;
  }
}
section.startups-program{
  header{
    p{
      text-align: center;
    }
  }
  .mdl-cell{
    padding-left: 5%;

    > div {
      display: table;
    }
    .icon{
      display: table-cell;
      vertical-align: middle;
      img{
        width: 40px;
      }
    }
    p{
      text-align: justify;
      width: 90%;
      display: table-cell;

    }
  }

}
section.startups-builders, section.startups-partners{
  .mdl-cell{
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .builder-name{
    position:relative;
    bottom: 1.5em;
    width: 100%;
    height:2em;

    display: table;

    > div{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
section.startups-partners{
  .mdl-cell img{
    max-height: 100px;
  }
}
section.startups-enroll{
  background-color: #fff;
}
