<section id="about">
    <div class="page-header">
      <h1>About SIGFOX</h1>
    </div>
    <h2>In a few words</h2>
    <p>
      <strong>SIGFOX is providing a communication solution dedicated to the Internet of Things </strong>
    </p>
    <p>
      Dedicated to the IoT means:
      <ul>
        <li>Simplicity : No configuration, no pairing, no signaling</li>
        <li>Autonomy : Very low energy consumption, allowing years of autonomy on battery without maintenance</li>
        <li>Small messages : No large assets or multimedia, only small messages</li>
      </ul>
      
    </p>
    <p>
      It is a LPWA (Low-Power Wide-Area) network, currently operating in 20 countries in Europe, Americas and Asia/Pacific.
    </p>
    <p>Communications over the SIGFOX network are bidirectionnal : uplink from device & downlink to the device.
    </p>
    
    
    <h2>How to get started ?</h2>
    <p>
    You need 3 things to get started with SIGFOX :
      <ul>
        <li>A SIGFOX-ready module or transceiver (Check the available solutions on our <a target="_partners" href="//partners.sigfox.com">Partner Network</a>)</li>
        <li>A valid subscription. Development kits & evaluation boards come with an included one-year subscription</li>
        <li>Be in a covered area. (See current coverage <a target="_www" href="//www.sigfox.com/coverage">here</a>)</li>
        
      </ul>
    </p>

  </section>