<section id="contact">
    <h1>Contact</h1>
    <div class="jumbotron">
      
      <p>
        Nicolas Lesconnec<br />
        Developer & Maker Evangelist<br />
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:devrelations@sigfox.com">devrelations@sigfox.com</a><br />
        <span class="twittericon"></span>&nbsp;<a href="http://twitter.com/nlesconnec/">@nlesconnec</a><br />
          <span class="githubicon"></span>&nbsp;<a href="http://github.com/nicolsc/">@nicolsc</a><br />
        
      
      </p>
    </div>
  </section>