<section id="evalkits">
  <h1>Evaluation Kits</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Telecom Design</h3>
      <p>
        Telecom Design has Evaluation Boards available for their modules<br />
        You can order them through their distributor, <a href="http://www.avnet-memec.eu/products/telecom-design-bi-directional-sigfox-modules.html">Avnet-Memec</a>
      </p>
      <p>
        Telecom Design provide a full SDK, with complete examples.<br />
        The modules are controlled using AT commands, but you can also flash your own firmware & use them autonomously.<br />
        To do so, Telecom Design provides a full SDK (using Eclipse) and working examples.

      </p>
      <p>
        Documentation is available on the <a href="http://rfmodules.td-next.com/">TD-next</a> official website.<br />
        SDK & full datasheets and documentations are available on their <a href="http://github.com/Telecom-Design">Github account</a>
      </p>
      <p>
        <h4>TD1204</h4>
        The TD1204 combines a SIGFOX-certified radio transceiver, an ARM Cortex M3 µcontroller and a GPS & an 3-axis accelerometer, allowing you to build complete solutions with a single component.<br />
      Documentation <a href="https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1204%20EVB%20User%27s%20Guide.pdf">here</a> (PDF)
      </p>

      <h4>TD1208</h4>
      <p>
        The TD1208 is a SIGFOX-certified radio transceiver, combined with a ARM Cortex M3 µcontroller. <br />
        Compatible with the Telecom Design SDK.
        Documentation <a href="https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1208%20EVB%20User%27s%20Guide.pdf">here</a> (PDF)
      </p>
    </div>
    <div class="col-sm-4">
      <h3>TST</h3>
      <p> 
        TST has a development kit available for its <a href="http://www.tst-sistemas.es/en/products/tsmart/">TSmote platform</a><br />
        The TSmote is powered by a 32-bit ARM Cortex M3 µprocessor, and the <a href="http://www.tst-sistemas.es/en/products/tsmart/tskits/">SIGFOX starter kit</a> includes a Xbee-format SIGFOX module
      </p>
      <p>
        SIGFOX module <a href="http://api.tst-sistemas.es/group___t_s_m_a_r_t___s_i_g_f_o_x___t_d.html">online documentation</a>, and <a href="./resources/TST-module.pdf">datasheet</a> (PDF).
      </p>
      <p>
        The <a href="./resources/TSmoTe-EN.pdf">TSmote</a> is to be programmed in standard C, and the SIGFOX module is controlled with AT commands.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Telit</h3>
      <p>
        The LE51-868 S is a high performance certified Short Range to Long Range module designed to cover the 863-870 MHz band working with the Telit Proprietary protocol and acting as a SIGFOX gateway
      </p>
      <p>
        The evaluation board can be programmed, or controlled by AT commands
      </p>
      <p>
        Check <a href="http://www.telit.com/products/product-service-selector/product-service-selector/show/product/le51-868-s/">Telit.com</a> for details about the LE51-686 S<br />
        Documentation <a href="./resources/Telit_LE51-868S_DemoUnit.pdf"> here</a> (PDF).
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Adeunis</h3>
      <p>
        The Adeunis RF Evaluation Board Si868 provides a very simple access to the UART of the module. In addition, the evaluation board provides an RF output designed to obtain the best Si868 module performance.
      </p>
      <p>
        Check <a href="http://www.adeunis-rf.com/en/products/sigfox-rf-module/evaluation-board-sigfox">Adeunis-rf.com</a> for details about the Si868 Evaluation Board<br />
        Documentation <a href="./resources/adeunis-evb.pdf"> here</a> (PDF).
      </p>
    </div>

</div>
</section>