{% assign types = site.data.hardware.solutions %}
<section id="hardware-solutions">
  <h1>Hardware solutions</h1>
  <div class="row">
    <div class="col-sm-12">
      {% for para in site.data.hardware.intro %}
        <p>{{para.text}}</p>
      {% endfor %}

    </div>
  </div>
  {% for type in types %}
    <section id="{{type.name | slugify}}">
      <h2>{{type.name}}</h2>
      {%if type.info %}
        <h5><i>{{type/info}}</i></h5>
      {% endif %}
      <div class="row">
        {% assign idx = 0 %}
        {% assign partners = type.partners | sort:"name" %}
        {% for partner in partners %}
          {% assign solutions = partner.solutions | sort:"name" %}
          {% for solution in solutions %}

            {% assign idx = idx | plus: 1 %}
            {% assign lgcycle = idx | modulo: 3 %}  
            {% assign smcycle = idx | modulo: 2 %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <div class="hardware-solution">
                <h3>{{partner.name}}</h3>
                <h4>{{solution.name}}</h4>
                <p>{{solution.desc}}</p>
                {% if solution.url %}
                <p><a href="{{solution.url}}" target="_blank">More informations here</a></p>
                {% endif %}
                {% if solution.img %}
                  <div class="hw-img">
                    <img src="{{site.url}}/img/hw/{{solution.img}}" />
                  </div>
                {% endif %}
              </div>
            </div>
            {% if smcycle == 0 %}
              <div class="clearfix visible-sm-block visible-md-block"></div>
            {% endif%}
            {% if lgcycle == 0 %}
              <div class="clearfix visible-lg-block "></div>
            {% endif%}
          {% endfor %}
        {% endfor %}
      </div >
    </section>
  {% endfor %}
</section>