<section id="transceivers">
  <h1>SIGFOX radio transceivers & modules</h1>
  <h3>SIGFOX is available from leading silicon and module vendors</h3>
  <div class="row">
    <div class="col-sm-12">
      <p>
        SIGFOX makes its IP available at no cost to silicon and module vendors. This strategy has encouraged leading silicon and module vendors to integrate SIGFOX in their existing assets, giving solution enablers a wide choice of very competitively priced components.
</p><p>
SIGFOX enables bi-directional as well as mono-directional communications and can co-exist with other communication protocols, both short and long range.
</p><p>
High energy consumption has been a major obstacle with regards to unleashing the potential of the Internet of Things, which is why one of the key elements of the SIGFOX strategy is to continue to push the boundaries for energy consumption lower and lower.
</p><p>
The increasing number of M2M and Internet of Things solutions calls for better interoperability solutions, which can only come through standardization. As the first Internet of Things operator, SIGFOX has taken a lead in this process through the foundation of dedicated standardization groups within recognized standards bodies such as ETSI and others.
      </p>
    <p>Check the <a href="http://sigfox.com/en/#!/connected-world/technology-enablers">Technology Enablers</a> section of our website to keep posted on the list of available modules & transceivers from our partners.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Adeunis RF</h3>
      <a target="_blank" href="http://www.adeunis-rf.com/en/technologies/sigfox">
       <img class="img-responsive" src="./img/adeunis.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Atim</h3>
      <a target="_blank" href="http://www.atim.com/en/atim-sigfox-network-solutions">
        <img class="img-responsive" src="./img/atim.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Atmel</h3>
      <a target="_blank" href="http://www.atmel.com/products/wireless/smartrf/default.aspx?tab=tools">
        <img class="img-responsive" src="./img/atmel.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Axsem</h3>
      <a target="_blank" href="http://axsem.com/www/sigfox">
        <img class="img-responsive" src="./img/axsem.jpg" />
      </a>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-3">
      <h3>Silicon Labs</h3>
      <a target="_blank" href="http://www.silabs.com/">
        <img class="img-responsive" src="./img/silabs.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Telecom Design</h3>
      <a target="_blank" href="http://www.avnet-memec.eu/products/telecom-design-bi-directional-sigfox-modules.html">
        <img class="img-responsive" src="./img/telecomdesign.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Telit</h3>
      <a target="_blank" href="http://www.telit.com/products/product-service-selector/product-service-selector/show/product/le51-868-s/">
        <img class="img-responsive" src="./img/telit.jpg" />
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Texas Instruments</h3>
      <a target="_blank" href="http://www.ti.com/product/cc1120?DCMP=sigfox&HQS=ep-con-lprf-sigfox-pf-cc1120-en">
        <img class="img-responsive" src="./img/ti.jpg" />
      </a>
    </div>
  </div>
</section>