
<div class="page-header">
      <h1>Startup programs</h1>
    </div>
<p>Building hardware is a <strong>hard</strong> process, we know it as we do it too. In order to facilitate your journey, SIGFOX built its very own startup programs.</p>
<p>By joining this program, you will get access to a <strong>wide range of tools</strong>, but also be <strong>part of a community</strong> of people building amazing products based on the SIGFOX technology.</p>
<hr />
<h2>Ignition program</h2>

<p> This program is open to all the startups willing to build a product connected with SIGFOX.  </p>
<p>By registering to this program, you will get access to :</p>
<ul>
<li>Free network subscription while prototyping (limited) </li>
<li>Free access to all the SIGFOX learning programs</li>
<li>Marketing &amp; communication kit about the SIGFOX network</li>
<li>Introduction to the technology by SIGFOX experts</li>
<li>Access to a wide range of partners offers</li>
<li>Access to the SIGFOX builders community trough online tools and physical events</li>
<li>Subscribe to the entrepreneur newsletter to be updated on all the latest news which could matter to you</li>
</ul>
<p>If you're interested to join our program, register below and you will receive all the details about it</p>
<p><i>This program is limited to startups founded less than 3 years ago and that raised less than 2 million euros. Registrations needs to be validated by SIGFOX before being valid. </i>
</p>
<hr />