<h1>Startup program</h1>
<p>Building hardware is a <strong>hard</strong> process, especially for young and small companies. In order to facilitate this process, SIGFOX built its very own startup program to <strong>facilitate this journey</strong>.</p>
<p>By joining this program you will get access to a <strong>wide range of tools</strong>, but also be <strong>part of a community</strong> of people building amazing products based on the SIGFOX technology.</p>
<p>In order to reach even more brilliant startups, we also partner with <strong>the best hardware incubators </strong>in the world. To know more about our incubator program, please go here.</p>
<hr />
<p>By registering to this program, you will get access to :</p>
<ul>
<li>Free network subscription while prototyping (up to 15)</li>
<li>Free access to all the SIGFOX learning programs</li>
<li>Marketing &amp; communication kit regarding the SIGFOX network</li>
<li>Introduction by a SIGFOX expert</li>
<li>Access to a wide range of partners offers. From PCB priting to Cloud solutions, you'll enjoy the treat.</li>
<li>Access to the SIGFOX builders community trough slack and physical events</li>
<li>Subscribe to the entrepreneur newsletter to be updated on all the latest news which could matter to you.</li>
</ul>
<p>If you're interested to join our program, register here and you will receive all the details about it.</p>
<p>This program is limited to startups founded less than 4 years ago and that raised less than 2 million euros.
</br></p>