<section id="startups-enroll" class="startups-enroll">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header">
      <h3 class="section__title mdl-typography--font-thin">Apply to the 🚀 Ignition Program</h3>
    </header>
    <div class="typeform-widget" data-url="https://sigfoxsurvey.typeform.com/to/rc3frk" data-transparency="50" style="width: 100%; height: 500px;"></div><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
  </div>
</section>
