<section id="startups-intro" class="startups-intro">
  <div class="bg-container">
    <div class="bg-container-overlay mdl-color-text--white">
    	<h1 class="mdl-typography--font-thin">
        SIGFOX IGNITION PROGRAM<br />
        is a unique opportunity for your startup to access the biggest IoT ecosystem
      </h1>

        <a href="#startups-enroll" class="hero__btn mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
          Apply now
        </a>
    </div>
    <a href="#startups-enroll">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-shadow--4dp">
        <i class="material-icons"></i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(26px, 38px);"></span></span>
      </button>
    </a>
  </div>

</section>
