<section id="partners" class=" mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <h4>Partners</h4>
    <p>
    We also join forces with some of the <b>best incubators</b> to encourage the development of new products, which receives premium support from the SIGFOX teams.
    </p>
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      {% for type in site.data.startupspartners %}
        <h5 class="text-center">{{entry.type}}</h5>
        {% for partner in type.partners%}
          <div class="startups-partner-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
             {% if partner.logo %}
                    <a href="{{partner.url}}"><img alt="{{partner.name}}" title="{{partner.name}}" src="{{site.url}}/assets/media/startups/{{partner.logo}}" /></a>
                {% else %}
                    {{partner.name}}
                {% endif %}
              <h4 class="text-center">{{partner.name}}, <i>{{partner.country}}</i></h4>
            </div>

            <div class=" mdl-card__actions mdl-card--border">
              <a rel="noopener noreferrer" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"{% if partner.url %} href="{{partner.url}}"{%endif%}>
                  More info
              </a>
              <div class="mdl-layout-spacer"></div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

