<section class="section startups-partners mdl-color-text--primary mdl-color--indigo-50">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header">
      <h3 class="section__title mdl-typography--font-thin">Our partners</h3>
      <p>
        We join forces with a growing list of actors to encourage the development of new startups, which receive premium support from the Sigfox teams
      </p>
    </header>
    <div class="mdl-grid">
      {% for entry in site.data.startup-partners %}
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet  mdl-color-text--primary">
        <a target="_blank" href="{{entry.url}}">
          <img alt="{{entry.title}}" src="{{entry.img}}" />
        </a>
      </div>
      {% endfor %}
    </div>
    <p>
      If you want to become one of our partners, contact us : <a href="mailto:startups@sigfox.com">startups@sigfox.com</a>

    </p>
  </div>
</section>
