<section id="startups-program" class="section startups-program mdl-color--primary-dark">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header mdl-color-text--grey-100">
      <h3 class="section__title mdl-typography--font-thin">How could we help you create amazing IoT products ?</h3>
      <p class="mdl-typography--font-thin">
        We power the IoT with the simplest communication solutions.<br />
However, building hardware is a tough job. So, we have decided to design this startup program to facilitate your work ! You will get access to a wide range of tools, as well as be a part of an incredible community of people building amazing products based on the Sigfox technology.
      </p>
    </header>
    <div class="mdl-grid">
      {% for entry in site.data.startup-program-benefits %}
      <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet  mdl-color-text--white">
        <h4 class="mdl-typography--font-thin">{{entry.title}}</h4>
        <div>
          <div class="icon">
            <img alt="{{entry.title}}" src="/assets/media/icons/{{entry.icon}}.png" />
          </div>
          <p class="mdl-typography--font-thin">
            {{entry.desc}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
