<section id="about" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--accent mdl-color-text--white">
    <i class="material-icons">settings_input_antenna</i>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>About Sigfox</h4>
      <p>
        Sigfox is dedicated to giving a voice to the physical world, thanks to our dedicated network.
      </p>
      <p>
        The service focuses on:
        <ul>
          <li>Simplicity : No configuration, no connection, no signaling</li>
          <li>Autonomy : Very low energy consumption, allowing years of autonomy on battery without maintenance</li>
          <li>Small messages : No large assets or multimedia, only small messages</li>
        </ul>
      </p>
    </div>
    <div class="mdl-card__actions">
      <a href="/about" class="mdl-button">Read more</a>
    </div>
  </div>
</section>