<section id="about" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--primary mdl-color-text--white">
    <img src="/assets/media/Sigfox_BB_Logo_RGB_R.png" alt="Sigfox" title="Sigfox" class="logo" />
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <p>
        Sigfox is a solution dedicated to giving a voice to the physical world, thanks to our dedicated network.<br />We provide an inexpensive, reliable and low power solution for connecting sensors and devices.
      </p>
      <p>
        The Sigfox protocol focuses on...
        <ul>
          <li>Simplicity - No configuration, connection request or  signalling</li>
          <li>Autonomy - Extremely low energy consumption; allowing years of autonomy on a single battery charge</li>
          <li>Small Payload - No large assets or multimedia, only small messages</li>
        </ul>
      </p>
    </div>
    
  </div>
<div class="mdl-card__actions-purple">
      <a href="/about" class="mdl-button white">Learn more</a>
    </div>
</section>
