<section id="ask" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		  <div class="card-header mdl-card__title mdl-color--grey-circuit">
				<h2 class="mdl-card__title-text">Recent Activity on Ask Sigfox</h2>
		  </div>

    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <p>
      <a href="https://ask.sigfox.com" rel="noopener noreferrer" target="_blank">Ask Sigfox</a> is an online platform dedicated to technical knowledge exchange about Sigfox and to support the development of Sigfox products. Visit <a href="https://ask.sigfox.com" rel="noopener noreferrer" target="_blank">Ask</a> for the answers to your questions, to help others with their issues/concerns and to support the Sigfox community.
      </p>

    <table id="ask-activity" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>

        <th class="mdl-color-text--primary ask-table-headers-title">Subject</th>
        <th class="mdl-data-table__header--sorted-descending mdl-color-text--primary mdl-cell--hide-tablet mdl-cell--hide-phone ask-table-headers-date">Last Activity</th>

        <th class="mdl-color-text--primary ask-table-headers-user">User</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  </div>
  <div class="mdl-card__actions-purple">
        <a href="https://ask.sigfox.com" class="mdl-button mdl-color-text--white">More Topics</a>
  </div>
</section>
