<section id="ask" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">Recent activity on <a href="//ask.sigfox.com" rel="noopener noreferrer" target="_blank">ask.sigfox.com</a></h4>
    <p>
      Ask Sigfox is an online platform dedicated to technical knowledge exchange about Sigfox, and development of Sigfox products.This is the place to go to find answers to your questions, or to help other users.
      </p>
   
    <table id="ask-activity" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        
        <th class="mdl-color-text--primary ask-table-headers-title">Subject</th>
        <th class="mdl-data-table__header--sorted-descending mdl-color-text--primary mdl-cell--hide-tablet mdl-cell--hide-phone ask-table-headers-date">Last Activity</th>
        
        <th class="mdl-color-text--primary ask-table-headers-user">User</th>
      </thead>
      <tbody></tbody>
    </table>
    <div class="mdl-card__actions ">
      <a href="http://ask.sigfox.com" class="mdl-button  mdl-color-text--primary">More topics</a>
    </div>
  </div> 
</section>
  
  
  