{% assign entries = site.data.events | sort:"date","first"%}
{% assign now = 'now' | date:'%s' %}
<section id="events" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="card-header mdl-card__title mdl-color--grey-circuit">
              <h2 class="mdl-card__title-text">Events</h2>
          </div>
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h5 class="mdl-cell mdl-cell--12-col mdl-typography--font-thin">Next events organised or attended by the Sigfox Adoption team</h5>

      {% for event in entries %}
      {% assign timestamp = event.date|date:'%s' %}
      {%comment%}
        Don't show events that are in the past, or too far in the future
        4070822400000 means Dec 31, 2098
        Why ? because liquid templates don't make it easy to do two-criteria sort
        So ... i'm using 2099/1/1 as the date for "may happen in the future" SMT events
      {%endcomment%}
        {% unless timestamp < now or timestamp > '4070822400000' %}
          <div class="event-card mdl-card mdl-shadow--2dp mdl-color--primary">
            <div class="mdl-card__title mdl-card--expand">
              <h5 class="event-date">
                {% if event.date %}
                  <span class="event-date mdl-typography--font-thin mdl-color-text--white">
                  {% if event.approx %}
                    {{event.date | date:"%B"}}
                  {%else %}
                    {{event.date | date:"%b %d"}}
                  {%endif%}
                {%endif%}
                </span>
              </h5>
              <h4 class="event-location mdl-color-text--white">
                {{event.location}}
              </h4>
              <h5 class="mdl-typography--font-thin mdl-color-text--white">{{event.name}}</h5>
            </div>
              <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                {%if event.soldOut == true%}
                  <div class="mdl-button mdl-color-text--primary-contrast">
                    SOLD OUT
                  </div>
                {%else%}
                  <a rel="noopener noreferrer" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"{% if event.url %} href="{{event.url}}"{%endif%}>
                    {%if event.desc %}
                      {{event.desc}}
                    {% else if event.url %}
                      More info
                    {% endif %}
                  </a>
                {% endif%}
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
              </div>

          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>
</br>
