<section id="getting-started" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

    <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="card-header mdl-card__title mdl-color--grey-circuit">
                <h2 class="mdl-card__title-text">Getting Started</h2>
          </div>

        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="section__circle-container mdl-cell mdl-cell--2-col  mdl-cell--hide-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Hardware</h5> To start sending messages over the Sigfox network, you'll need to use a <a rel="noopener noreferrer" target="_blank" href="//partners.sigfox.com/">Sigfox-compatible</a> communication module or development kit.<br /> These are available
                from a large number of our partners, using standard radio chipsets.
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col  mdl-cell--hide-phone">
                <div class="section__circle-container__circle mdl-color--accent"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Coverage</h5> As Sigfox isn't intended for private networks, so you'll need to be in an area <a rel="noopener noreferrer" target="_blank" href="//sigfox.com/coverage">covered by our network</a> to connect to our network. Fortunately, we're rapidly rolling
                out our gloabl network so please <a href="#contact">contact us</a> if you're located in a not-yet covered country or area and we'll do our best to provide you access to the network as soon as possible.
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col  mdl-cell--hide-phone">
                <div class="section__circle-container__circle mdl-color--indigo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Service Access</h5> Sigfox is a service provider so you'll need a valid contract with us or your local Sigfox operator to retrieve the messages you send. Fortunately, a free contract with access to the complete Sigfox service, is included with all of our
                partner development kits!<br /><br />
                <a href="#contact">Contact us</a> if you need access to the service for prototypes built using modules rather than dev kits.
            </div>
        </div>

    </div>
    <div class="mdl-card__actions-purple">
        <a href="./getting-started" class="mdl-button mdl-color-text--white">Go further</a>
    </div>
</section>
