 <section id="getting-started" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Getting started</h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Hardware</h5>
                  To start sending messages over the Sigfox network, you need to use a <a rel="noopener noreferrer" target="_blank" href="//partners.sigfox.com/">Sigfox-compatible communication module or development kit</a>.<br />
                  These are available from our partners, using standard radio chipsets.
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--accent"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Coverage</h5>
                  As Sigfox is not made for private networks, you need to be in an area <a rel="noopener noreferrer" target="_blank" href="//sigfox.com/coverage">covered by our network</a>.<br />
                  Please <a href="#contact">contact us</a> if you're located in a not-yet covered country or area, and we'll do our best to provide you an access to the network quickly.
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--indigo"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Service access</h5>
                  Sigfox is a service provider, and you need a valid contract with us or your local Sigfox operator to retrieve the messages you send.<br />
                  A free contract, with access to the full service, is included with each development kit.<br />
                  <a href="#contact">Contact us</a> if you need an access to the service for prototypes built upon modules.
                </div>
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Go further</a>
              </div>
            </div>
          </section>