<section id="hardware" class="mdl-grid">
<div class="mdl-card mdl-cell mdl-cell--12-col">
    <h4>Hardware Solutions</h4>

    <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin devkits ">
      <h5>Developement Kits</h5>
      <p>
         Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/kit">Sigfox Partner Network</a> to browse all the available developement kits. These are only 4 out of the list !
      </p>

    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing devkits-list">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>


    <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin modules ">
      <h5>Modules</h5>
      <p>
         Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/module">Sigfox Partner Network</a> to browse all the available modules. These are only 4 out of the list !
      </p>


        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing modules-list">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>

  </div>

    </div>


  <div class="mdl-card__actions">
    <a href="http://partners.sigfox.com" class="mdl-button">Discover all the available solutions</a>
  </div>
</div>

</section>
