<section id="hardware" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="card-header mdl-card__title mdl-color--grey-circuit">
            <h2 class="mdl-card__title-text">Hardware</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <h5>Developement Kits</h5>

            <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin devkits ">
                <p>
                    Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/kit">Sigfox Partner Network</a> to browse all the available developement kits. We've listed just a few of the available solutions below!
                </p>
                <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin devkits ">
                    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing devkits-list">
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    </div>
                </div>
                <h5>Modules</h5>

                <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin modules ">
                    <p>
                        Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/module">Sigfox Partner Network</a> to browse all the available modules. We've listed just a few of the available solutions below!
                    </p>


                    <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin modules ">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing modules-list">
                            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="mdl-card__actions-purple">
            <a href="http://partners.sigfox.com" class="mdl-button white">Discover all the available solutions</a>
        </div>
    </div>
</section>
