<section id="hardware" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__supporting-text">
    <h4>Hardware Solutions</h4>
    <h5>Developement Kits</h5>
    
    <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin devkits ">
      <p>
         Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/kit">Sigfox Partner Network</a> to browse all the available developement kits. These are only 3 out of the list !
      </p>
    
    
      <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin devkits ">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing devkits-list">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
      </div>
       <h5>Modules</h5>
    
    <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin modules ">
      <p>
         Visit the <a rel="noopener noreferrer" target="_blank" href="https://partners.sigfox.com/products/module">Sigfox Partner Network</a> to browse all the available modules. These are only 3 out of the list !
      </p>
    
    
      <div class="mdl-cell mdl-cell--12-col mdl-typography--font-thin modules ">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing modules-list">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
      </div>
    
  </div>
      
    </div>
    
    
  <div class="mdl-card__actions">
    <a href="http://partners.sigfox.com" class="mdl-button">Discover all the available solutions</a>
  </div>
</div>
  </div>
</section>