<section id="sigfox-love" class="section sigfox-love mdl-color-text--primary  mdl-color--white">
  <div class="section__content grid__item palm--one-whole">
    <header class="section__header">
      <h1 class="section__title mdl-typography--font-thin mdl-typography--text-center">Sigfox ❤ makers</h1>
    </header>
    <div class="mdl-grid">

      <div class="logos mdl-typography--text-center mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
        <img src="/assets/media/partners/arduino.png" alt="MKRFOX" title="MKRFOX">
        <img src="/assets/media/partners/MKRFOX1200.jpg" alt="MKRFOX" title="MKRFOX">
      </div>
      <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-phone">
        <p class="mdl-typography--font-thin">
          We're happy to welcome <a class="mdl-color-text--primary mdl-typography--font-thin" href="//arduino.cc" target="_blank">Arduino</a> as the latest member of the Sigfox family!<br />
          The new MKRFOX1200 board offers makers & tech enthusiasts a very simple way to take their IoT projects out in the real world, thanks to the long range Sigfox network.<br />
          The detailed <a class="mdl-color-text--primary mdl-typography--font-thin" href="https://www.arduino.cc/en/Main.ArduinoBoardMKRFox1200" target="_blank">product page</a> is available on <a class="mdl-color-text--primary mdl-typography--font-thin" href="http://arduino.cc" target="_blank">http://www.arduino.cc</a>

          We want to make access to the Sigfox technology as simple & seamless as possible.<br />
          We believe this new solution will make it even easier for anybody to get started, thanks to Arduino online shop, community and simple IDE
        </p>
        <p class="mdl-typography--font-thin">
          As every Sigfox development kits, the MKR1200 includes full access to the Sigfox service :
        </p>
        <ul class="mdl-typography--font-thin">
          <li><a class="mdl-color-text--primary mdl-typography--font-thin" target="_blank" href="https://backend.sigfox.com/activation">Online activation</a></li>
          <li><i>Platinum</i> contract : 140 <i>uplink</i> & 4 <i>downlink</i> messages per day</li>
          <li>Sigfox cloud platform features:
            <ul class="mdl-typography--font-thin">
              <li>Simple dashboard & metrics</li>
              <li>Configurable <i>Callbacks</i> : forward incoming messages to your application(s) server(s)</li>
              <li>REST API</li>
            </ul>
          </li>
        </ul>
        <p class="mdl-typography--font-thin">
          Users of the MKRFOX will also be the first to get full access to the new <a class="mdl-color-text--primary mdl-typography--font-thin" target="_blank" href="http://sigfox.com/en/sigfox-spot-it">Sigfox geolocation service</a>.<br />
          This service offers kilometric-precision geolocation (accuracy depending on local network density), without any GPS/Glonass/Galileo module. <br />
          Access to this service will be open to all developers in the near future.
        </p>
        <p class="mdl-typography--font-thin">
          Please note that the first version of the MKRFOX1200 is compatible with the <i>Sigfox Radio Configuration Zone 1</i> (868MHz, 14dBm)<br />
          This means it will work all over the <a class="mdl-color-text--primary mdl-typography--font-thin" target="_blank" href="http://sigfox.com/coverage">Sigfox covered countries</a> in Europe (+ French overseas), Middle East & South Africa, but not in the Americas or Asia/Pacific<br />
        </p>
      </div>
    </div>
    <div class="mdl-grid mdl-color--primary mdl-color-text--white">
      <h4 class="mdl-typography--font-thin">Sigfox growing family of developer solutions</h4>
      <div class="mdl-grid">
        <p class="mdl-typography--font-thin">
          2017 has been already been busy with new solutions for makers & developers :
        </p>
        <ul class="mdl-typography--font-thin">
          <li><img class="partner-logo" src="/assets/media/partners/pycom.png"><a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="https://www.pycom.io/product/sipy/">Pycom Sipy</a>, with a Sigfox + Wifi + Bluetooth module, available for all Sigfox territories. (<i>Excluding Japan, still in development</i>)</li>
          <li><img class="partner-logo" src="/assets/media/partners/SNOC.png"><a target="_blank" class="mdl-color-text--white mdl-typography--font-thin" href="https://yadom.fr/carte-breakout-sfm10r1.html?___store=yadom_us">SNOC €20 module breakout</a>, using a Wisol SFM10R1 module</li>
          <li><img class="partner-logo" src="/assets/media/partners/snootlab.jpg"><a target="_blank" class="mdl-color-text--white mdl-typography--font-thin" href="http://snootlab.com/lang-en/snootlab-shields/1191-akeru-beta-33-us-1-year-sigfox-connectivity-shipping-en.html">Snootlab Akeru for RCZ2</a>, the famous Akeru board adapted to Sigfox RCZ2 (USA + Mexico + Brazil)</li>
          <li><img class="partner-logo" src="/assets/media/partners/thinxtra.png"><a target="_blank" class="mdl-color-text--white mdl-typography--font-thin" href="http://thinxtra.com/xkit">Thinxtra XKit</a>, a all-in-one solution : Arduino board + Sigfox-ready Wisol module + a set of onboard sensors, available for all zones (excluding Japan at the moment)</li>
        </ul>
      </div>
      <h4 class="mdl-typography--font-thin">Discover all available devkits & evaluation boards</h4>
      <div class="mdl-grid">
        <p class="mdl-typography--font-thin">
          Browse the <a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="http://partners.sigfox.com">Sigfox Partner Network</a> to discover the full list of :

        </p>
        <ul class="mdl-typography--font-thin">
          <li><a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="https://partners.sigfox.com/search/products?or[availability][0]=available&q=arduino&limit=12&page=0">Arduino-compatible boards & shields</a></li>
          <li><a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="https://partners.sigfox.com/search/products?or[availability][0]=available&q=raspberry&limit=12&page=0">Raspberry Pi shields</a></li>
          <li><a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="https://partners.sigfox.com/search/products?q=Evaluation&limit=12&page=0">Evaluation boards</a> & <a target="_blank"class="mdl-color-text--white mdl-typography--font-thin" href="https://partners.sigfox.com/products/module">samples</a>from our silicon partners (STMicro, Atmel/Microchip, NXP, ON Semi, Texas Instruments, Wisol, Innocomm, TD Next, M2Comm, Radiocrafts, ... )</li>
        </ul>
      </div>
    </div>
  </div>
</section>
