<div class="contact-container">
  <div class="container">
    <section class="contact" id="contact">
      <h1 class="size15">Contact Us <!--form--></h1>

      <p class="text-center">We would love to hear from you !</p>
      <div class="row contact-details">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

           <p class="text-center">
        <a href="mailto:press@sigfox.com">press@sigfox.com</a><br />
        <span class="twittericon"></span>&nbsp;<a href="http://twitter.com/sigfox/">@SIGFOX</a><br />
      </p>
        </div>
      </div>
     
    </section>
  </div>
</div>